<section id="cm">
	{{#if polls}}
	{{#each polls}}
	<div id="cambgpoll">
		<div id="campaign">
			<img src="{{../images.cover}}">
			<div id="campaignpoll"></div>
			<div id="camspotify">
				<img src="https://static.musik.dk/assets/css/services/spotify.png" align="Spotify Logo">
			</div>	
		</div>      
		<div id="camrel"  class="pollcenter">
			<img id="camlogo" src="https://static.musik.dk/assets/css/polls.svgz" alt="MusikDK logo">
			<div id="pollib">
				<div class="pure33 fr">
					<iframe src="https://embed.spotify.com/?uri=spotify:user:digster.dk:playlist:6TJ7j5U9aqYDABHyUAMpDU" width="300" height="210" frameborder="0" allowtransparency="true"></iframe>	   
				</div>		 	
				<div class="pure66 fl">		   
					<p>
						<span>INFO:</span>
						{{this.description}}
					</p>	   
				</div> 
			</div>			
			<ul class="polllist">
				{{#each pollItems}}
				<li>
					<div class="pollw">
						<div class="polltitle">{{pollTitle}}</div>
						{{#if voted}}
						<div class="pollactive" data-poll-item-id="{{pollItemId}}">
						{{else}}
						<div class="poll" data-poll-item-id="{{pollItemId}}">
						{{/if}}

							<div id="progresspoll" data-procentage="{{percentage}}"></div>
						</div>
					</div>
				</li>
				{{/each}}
		{{/each}}				
			</ul>   
		</div>
	</div>
	{{else}}
	
	
	
	
	
	
	
{{#if polls}}
	{{#each polls}}	
		<img data-src="demobilleder/tdbanner.jpg" src="demobilleder/placeholders/square.png" alt="ARTISTNAME">
		<div id="cambgpoll">  
			<div id="campaign"> 	
				<!-- !-- Add Ken Burns effect --> 
				<!-- <div id="burnsbox"><  -->
					<img data-src="demobilleder/500x500_Mahtilde-Schmidt-8-bw.jpg" src="demobilleder/placeholders/square.png" alt="ARTISTNAME">
				<!-- </div> -->

				<!-- COMP ID -->
					<div id="campaignpoll"></div>

				<div id="camspotify">
					<img src="https://static.musik.dk/assets/css/services/spotify.png" align="Spotify Logo">
				</div>	    
			</div> 

			<div id="camrel" class="pollcenter">
				

			
		<!-- 			POLL OPTIONS	    -->
						   
			<ul class="polllist">
							
							
						<h2>DINE OG MINE DANSKE FAVORITTER:</h2>	
						<p><br> Jeg indspiller mit første album på dansk med 5 af mine favoritsange.<br> I får lov at vælge hvilke 5 ud af de 10 nominerede herunder jeg skal indspille.<br>
						Du kan stemme på én sang frem til og med den 16. oktober.<br>	
						Det digitale minialbum udkommer på Spotify den 1. december og alle andre steder den 12. januar 2015.</p>	
							
							
						<div class="video-container" style="margin-left:-60px;margin-bottom:25px">
							<iframe style="border:none" height="720" src="//www.youtube.com/embed/m-PqQNdh-Dk?autohide=1&autoplay=0&iv_load_policy=3&showinfo=0&modestbranding=1&vq=hd480" allowfullscreen></iframe>
						</div>
							
						<h2>Giv din stemme:</h2><br><br>
						<li>
							<div class="pollw">
								<div class="polltitle">{{pollTitle}}</div>
									{{#if voted}}
									<div class="pollactive" data-poll-item-id="{{pollItemId}}">
									{{else}}
									<div class="poll" data-poll-item-id="{{pollItemId}}">
									{{/if}}

										<div id="progresspoll" data-procentage="{{percentage}}"></div>
									</div>
							</div>
						</li>
							
						
			</ul><!-- 			POLL OPTIONS	    -->
			</div>
		 </div>
	{{/each}}
{{else}}

{{#each pollItems}}
				<li>
					<div class="pollw">
						<div class="polltitle">{{pollTitle}}</div>
						{{#if voted}}
						<div class="pollactive" data-poll-item-id="{{pollItemId}}">
						{{else}}
						<div class="poll" data-poll-item-id="{{pollItemId}}">
						{{/if}}

							<div id="progresspoll" data-procentage="{{percentage}}"></div>
						</div>
					</div>
				</li>
				{{/each}}