/* BASE COLORS */
@blackblack: #333;
@black: #2C3E50;
@lightblack:#34495e;
@lighterblack: lighten(@lightblack, 5%);
@white:#f5f5f5;
@frontpageheadline:#5b6a73;
@text:#333;
@blue:#3498DB;
@darkblue:#2980b9;
@sidebargrey:#eaeaea;
@grey:#ddd;
@red:#ED1941;
@darkred:darken(@red, 7%);
@maincontent:#F0F2F3;
@green:#1ABC9C;
@darkgreen:#16a085;
@purple:#9b59b6;
@darkpurple:#8e44ad;
@yellow:#E6BA37;
@darkyellow:darken(@yellow, 12%);
@purple:#9b59b6;
@orange:#e67e22;
@darkorange: #d35400;

/* MUSICSERVICE COLORS */
@spotify: #84B82D;
@wimp: #520F41;
@rdio:#008FD5;
@tdcplay: #2385F1;
@itunes: #265FB0;
@youmusic: #1A1A19;
@deezer: #333;
@fona: #1B102C;
@imusic: #fff;


/* OTHER COLORS */
@facebook: #3B5998;
@google:#D44034;
@twitter:#35D1FF;
@instagram:#976147;
@vevo:#FF0031;
@soundcloud:#FD4200;
@bordergrey: 1px solid @grey;
@heart:#E74C3C;
@digster: #151515;
@digsterlight: lighten(@digster,10%);


/* GRADIENT COLORS */
.hgradient{background: #f5f5f5;
background: -webkit-linear-gradient(top,  #fff 25%,#f5f5f5 100%);
background: linear-gradient(to bottom,  #fff 25%,#f5f5f5 100%); 
}

.hgradientreverse{background: #f5f5f5;
background: -webkit-linear-gradient(top,  #f5f5f5 25%,#fff 100%);
background: linear-gradient(to bottom,  #f5f5f5 25%,#fff 100%); 
}
	
.blackgradient{
background: @black;
background: -webkit-linear-gradient(top,  lighten(@black, 1%) 0%,@black 100%);
background: linear-gradient(to bottom,  lighten(@black, 1%) 0%,#151515 100%);
}


.redgradient{
background: @red;
background: -webkit-linear-gradient(top,  lighten(@red, 7%) 0%,@red 100%);
background: linear-gradient(to bottom,  lighten(@red, 7%) 0%,@red 100%);
}

.blackgradient{
background: @black;
background: -webkit-linear-gradient(top,  lighten(@black, 7%) 0%,@black 100%);
background: linear-gradient(to bottom,  lighten(@black, 7%) 0%,@black 100%);
}

/* SHADOWS */
	
.insetshadow (@insetshadow: inset 0 0 2px 0 @black) {
box-shadow: @insetshadow;}
	
.shadow (@insetshadow: 0 0 3px 1px @black) {
box-shadow: @insetshadow;}
	
.whitetextshadow(@whitetextshadow: 0 1px 0 @white) {
text-shadow:@whitetextshadow;}
	
.blacktextshadow(@blacktextshadow: 0 1px 0 @black) {
text-shadow:@blacktextshadow;}
	

/* Rounded-borders */
.roundedcorners (@radius: 3px) {
border-radius: @radius;}
  
.roundedcorners-top (@radiustop: 3px 3px 0px 0px) {
border-radius: @radiustop;}

.roundedcorners-bottom (@radiusbottom: 0 0 3px 3px) {
border-radius: @radiusbottom;}
  
.roundedcorners-rightbottom (@radiusbottom: 0 0 3px 0) {
border-radius: @radiusbottom;}

.roundedcorners-leftbottom (@radiusbottom: 0 0 0 3px) {
border-radius: @radiusbottom;}

.roundedcorners-righttop (@radiusrighttop: 0 3px 0 0) {
border-radius: @radiusrighttop;}

.roundedcorners-lefttop (@radiuslefttop: 3px 0 0 0) {
border-radius: @radiuslefttop;}
  
.roundedcorners-right (@radiusright: 0 3px 3px 0) {
border-radius: @radiusright;}
  
.roundedcorners-left (@radiusleft: 3px 0 0 3px) {
border-radius: @radiusleft;}


/* CSS3 Transitions */
.hovertransition(@hover: all 0.2s ease-in-out){
-webkit-transition: @hover;
transition: @hover;}


/* CSS3 Translate */

.translate{
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
}

.translateX{
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	-ms-transform:translateX(-50%);
}

.translateY{
	-webkit-transform:translateY(-50%);
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
}


/* Diverse */

.boxsizing{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.twocolumns{
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;
}

.threecolumns{
	-moz-column-count:3; /* Firefox */
	-webkit-column-count:3; /* Safari and Chrome */
	column-count:3;
}







/*
1 - LESS OBJECTS END
////////////////////////////////////////////////////////////////////////////////////////////
*/