/* MusikDK Mobile CSS */
/* version: 1.0.0 */
/* authors: Morten Hjort, Kenneth Voss, Steffan H. Thomsen */

.hgradient {
	background: #f5f5f5;
	background: -webkit-linear-gradient(top, #fff 25%, #f5f5f5 100%);
	background: linear-gradient(to bottom, #fff 25%, #f5f5f5 100%)
 }

.hgradientreverse {
	background: #f5f5f5;
	background: -webkit-linear-gradient(top, #f5f5f5 25%, #fff 100%);
	background: linear-gradient(to bottom, #f5f5f5 25%, #fff 100%)
 }

.digstergradient {
	background: black;
	background: -webkit-linear-gradient(top, #333 0, #000 100%);
	background: linear-gradient(to bottom, #333 0, #000 100%)
 }

.redgradient {
	background: #ed1941;
	background: -webkit-linear-gradient(top, #f03a5c 0, #ed1941 100%);
	background: linear-gradient(to bottom, #f03a5c 0, #ed1941 100%)
 }

.blackgradient {
	background: #2c3e50;
	background: -webkit-linear-gradient(top, #395067 0, #2c3e50 100%);
	background: linear-gradient(to bottom, #395067 0, #2c3e50 100%)
 }

.translate {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

.translateX {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%)
 }

.translateY {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%)
 }

.boxsizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
 }

.twocolumns {
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2
 }

.threecolumns {
	-moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3
 }

* {margin: 0;padding:0}

html {height: 100%}

body {
	height: 100%;
	background: #34495e;
	-webkit-appearance: none;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	overflow-x: hidden;
	background-image: url('https://static.musik.dk/upload/mobile/leftmenubg.jpg');
	background-attachment: fixed
 }

p {
	font: 300 14px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica,'Noto Sans',serif;
	line-height:1.5em
}

h1,h2,h3,h4,h5,h6 {
	color: #333;
	font-family: 'Noto Sans';
	display: inline
 }

ul {list-style: none}

a:link {text-decoration: none;color:inherit}

a:visited {text-decoration: none;color:inherit}

a:active {text-decoration: none;color:inherit}

.clear:after {
	content: "";
	display: table;
	clear: both
 }

img {
	width: 100%;
	vertical-align: middle;
	border: 0px;
	outline: 0
 }

.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	min-height: 100%
 }

select {
	margin: 0;
	border: none;
	outline: none;
	display: inline-block;
	background: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-decoration: underline
 }

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden
 }

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
 }

.blackdot {background: #2c3e50;border-radius:3px}

.tc {text-align: center}

.hcdiv {
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%)
 }

.vcdiv {
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%)
 }

.hvcdiv {
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

.fr {float: right}

.lightblack {background: #34495e !important}

.green {background: #1abc9c !important}

.greentext {color: #1abc9c}

.red {background: #ed1941 !important}

.redtext {color: #ed1941}

.whitetext {color: #fff}

.roundedcorners {border-radius: 3px}

.pr {position: relative}

.pa {position: absolute}

.ip {padding: 5px;overflow:auto}

.ip2 {padding: 5px 5px 0 5px;overflow:inherit}

.ip3 {padding: 0 5px 5px;overflow:inherit}

.ip10 {padding: 10px}

.ipp {padding: 15px}

.ellipsis,.ellipsis-ca,.ellipsis-small,.ellipsis-txtcomp {
	overflow: hidden;
	width: 98%;
	text-overflow: ellipsis;
	white-space: nowrap
 }

.ellipsis-ca {margin-top: 18px;width:65%}

.ellipsis-small {
	float: left;
	padding-top: 7px;
	width: 50%
 }

.ellipsis-txtcomp {float: left;width:67%}

.blacktext {color: #000 !important}

.w64 {width: 64% !important}

.w81 {width: 81% !important}

.w100 {width: 100% !important}

.italic {font-style: italic}

.opacity03 {opacity: .3}

.h100 {height: 100px}

.pc50 {
	width: 48.3%;
	margin-right: 1%;
	display: inline-block
 }

.pc50:nth-child(2n) {
	margin-right: 0;
	float:right
}

@font-face {
	font-family: 'entypo';
	src: url('entypo.eot');
	src: url('entypo.eot?#iefix') format('embedded-opentype'),url('entypo.woff2') format('woff2'),url('entypo.woff') format('woff'),url('entypo.ttf') format('truetype'),url('entypo.svg#entypo') format('svg');
	font-weight: normal;
	font-style: normal
 }

.font-entypo {font-family: 'entypo';speak:none}

span.font-entypo.icon-mail:before {content: '\2709'}

span.font-entypo.icon-lock:before {content: '\f512'}

span.font-entypo.icon-video:before {content: '\f3ac'}

span.font-entypo.icon-search:before {content: '\f50d'}

span.font-entypo.icon-comment:before {content: '\e718'}

span.font-entypo.icon-star:before {content: '\2605'}

span.font-entypo.icon-book:before {content: '\f4d5'}

span.font-entypo.icon-layout:before {content: '\268f'}

span.font-entypo.icon-newspaper:before {content: '\f4f0'}

span.font-entypo.icon-play:before {content: '\25b6'}

span.font-entypo.icon-trophy:before {content: '\f3c6'}

span.font-entypo.icon-plus:before {content: '\2b'}

span.font-entypo.icon-export:before {content: '\e715'}

span.font-entypo.icon-users:before {content: '\f465'}

span.font-entypo.icon-heart:before {content: '\2665'}

span.font-entypo.icon-pencil:before {content: '\270e'}

span.font-entypo.icon-thumbs-up:before {content: '\f44d'}

span.font-entypo.icon-eye:before {content: '\e70a'}

span.font-entypo.icon-facebook:before {content: '\f30c'}

span.font-entypo.icon-instagram:before {content: '\f32d'}

span.font-entypo.icon-twitter:before {content: '\f309'}

span.font-entypo.icon-warning:before {content: '\26a0'}

span.font-entypo.icon-resize-small:before {content: '\e746'}

span.font-entypo.icon-circled-cross:before {content: '\2716'}

span.font-entypo.icon-paus:before {content: '\2389'}

span.font-entypo.icon-ticket:before {content: '\f3ab'}

span.font-entypo.icon-cart:before {content: '\e73d'}

span.font-entypo.icon-up:before {content: '\2b06'}

.formicon {
	position: absolute;
	font-size: 22px;
	padding: 12px;
	width: 25px;
	text-align: center;
	background: #3498db;
	color: white;
	-webkit-font-smoothing: antialiased;
	border-radius: 2px 0 0 2px
 }

.hicon {font-size: 25px;padding-right:10px}

.searchicon {
	color: white;
	font-size: 6rem;
	line-height: 160%
 }

.supicon {color: white;font-size:14px}

.comppopupicon {
	color: white;
	font-size: 160px;
	line-height: 200px;
	margin-top: 30px;
	display: block
 }

.greyicon {color: #ccc}

.scl {overflow-y: auto;-webkit-overflow-scrolling:touch}

#sl {
	display: none;
	position: absolute;
	width: 260px;
	max-height: 100%;
	color: #fff
 }

#sr {
	display: none;
	right: 0;
	position: absolute;
	width: 180px;
	max-height: 100%;
	background: #34495e;
	color: #fff;
	bottom: 0;
	top: 0
 }

#sl.visible,#sr.visible {display: block}

.s ul li a,.sm ul li a {
	display: block;
	padding: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	color: white;
	font: 100 14px 'Noto Sans',sans-serif
 }

.sm ul li a {opacity: .8}

.s ul li a:after,.sm ul li a:after {
	content: '\e75e';
	font: 15px 'entypo';
	speak: none;
	padding-right: 8px;
	float: right
 }

.sm ul li#selected {border-left: 6px solid #f5f5f5}

.sm ul li#acselected {border-left: 6px solid #2c3e50}

.sm ul li a#selected,.sm ul li a#acselected {opacity: 1}

.sm ul li.vid {
	padding: 14px 5px;
	border-top: 2px solid #a30d29;
	border-bottom: 1px solid #ba0f2f;
	background: #d21035
 }

.sm ul li.rmx {
	padding: 14px 5px;
	border-top: 2px solid #a04000;
	border-bottom: 1px solid #ba4a00;
	background: #d35400
 }

.sm ul li.rel {
	padding: 14px 5px;
	border-top: 2px solid #107360;
	border-bottom: 1px solid #138a72;
	background: #16a085
 }

.sm ul li.digster {
	padding: 14px 5px;
	border-top: 2px solid #151515;
	border-bottom: 1px solid #151515;
	background: #2f2f2f
 }

.sm ul li.art {
	padding: 14px 5px;
	border-top: 2px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	background: #cbcbcb
 }

.sm ul li h2 {
	color: white;
	font: 700 16px 'Noto Sans',sans-serif;
	text-transform: uppercase;
	padding: 10px;
	border-radius: 3px
 }

.s ul li#mhome {border-left: 6px solid #2c3e50}

.s ul li#mhome-filled {border-left: 24px solid #2c3e50}

.s ul li#mnews {border-left: 6px solid #3d566e}

.s ul li#mnews-filled {border-left: 24px solid #3d566e}

.s ul li#mart {border-left: 6px solid white}

.s ul li#mart-filled {border-left: 24px solid white}

.s ul li#mdigster {border-left: 6px solid #151515}

.s ul li#mdigster-filled {border-left: 24px solid #151515}

.s ul li#mrel {border-left: 6px solid #1abc9c}

.s ul li#mrel-filled {border-left: 24px solid #1abc9c}

.s ul li#mvid {border-left: 6px solid #ed1941}

.s ul li#mvid-filled {border-left: 24px solid #ed1941}

.s ul li#mcomp {border-left: 6px solid #3498db}

.s ul li#mcomp-filled {border-left: 24px solid #3498db}

.s ul li#mrmx {border-left: 6px solid #e67e22}

.s ul li#mrmx-filled {border-left: 24px solid #e67e22}

.hred {background: #ed1941}

#swipe {
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
	background-color: #f5f5f5;
	box-shadow: 0 0 10px rgba(0,0,0,0.6);
	transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transition: all 0.1s linear;
	width: 100%;
	height: 100%
 }

#swipe.isOpenLeft {
	transform: translate3d(260px, 0, 0);
	-webkit-transform: translate3d(260px, 0, 0);
	-ms-transform: translate3d(260px, 0, 0)
 }

#swipe.isOpenRight {
	transform: translate3d(-180px, 0, 0);
	-webkit-transform: translate3d(-180px, 0, 0);
	-ms-transform: translate3d(-180px, 0, 0)
 }

.mlogo,.mlogologin {
	background-image: url(logo.svg);
	background-repeat: no-repeat;
	background-size: cover
 }

.mlogo {
	height: 46px;
	width: 88%;
	margin: 12px
 }

#hlogo {width: 160px;margin-top:8px}

#dlogo {width: 60px;margin-top:5px}

.mlogologin {height: 50%;width:100%}

.mlogin {background: rgba(44,62,80,0.5)}

.mlogin {
	border-top: 1px solid rgba(44,62,80,0.8);
	border-bottom: 1px solid rgba(44,62,80,0.8);
	text-align: center;
	padding: 15px;
	color: white;
	font-family: 'Noto Sans',sans-serif
 }

.mlogin:before {
	content: '\f464';
	font: 17px/25px 'entypo';
	speak: none;
	padding-right: 10px;
	color: #fff
 }

#mloggedinwrap {
	width: 100%;
	height: 55px;
	border-top: 1px solid rgba(44,62,80,0.8);
	border-bottom: 1px solid rgba(44,62,80,0.8)
 }

#mluser {
	width: 129px;
	height: 47px;
	text-align: center;
	position: absolute;
	right: 0;
	padding: 8px 0 0 0;
	background: rgba(44,62,80,0.5)
 }

#mluser img {
	width: 40px;
	height: 40px;
	border-radius: 99px
 }

#mlfav span {
	line-height: 57px;
	font-size: 40px;
	width: 130px;
	height: 55px;
	text-align: center;
	float: left;
	border-right: 1px solid rgba(44,62,80,0.8);
	background: rgba(44,62,80,0.5)
 }

#search,#acsearch {
	background: rgba(44,62,80,0.5);
	height: 40px;
	width: 237px;
	margin: 10px;
	border: none;
	color: white;
	padding: 0 9px 0 7px;
	font-size: 15px;
	border-radius: 3px
 }

#acsearch {width: 95%}

.header,.headerwhite {
	height: 50px;
	background: #2c3e50;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-bottom: 2px solid #1a242f
 }

.header h1,.headerwhite h1 {
	font-size: 15px;
	line-height: 49px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	display: block;
	padding: 0 10px
 }

.header h5,.header h6 {font: 700 1.1rem/3rem 'Noto Sans';color:#fff}

.header img,.headerwhite img {
	position: absolute;
	left: 50%;
	top: 5px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%)
 }

.headerwhite {background: #f5f5f5;border-bottom:2px solid #dcdcdc}

.headerwhite h5,.headerwhite h6 {font: 700 1.1rem/3rem 'Noto Sans';color:#333}

.hnews {background: #3d566e;border-bottom:2px solid #2c3e50}

.hcomp {background: #3498db;border-bottom:2px solid #2980b9}

.hrmx {background: #e67e22;border-bottom:2px solid #d35400}

.hrel {background: #1abc9c;border-bottom:2px solid #16a085}

.hdigster {background: #2f2f2f;border-bottom:2px solid #151515}

.hvid {background: #ed1941;border-bottom:2px solid #d21035}

.header #menubtn-left,.headerwhite #menubtn-left {width: 45px;float:left}

.header #menubtn-right,.headerwhite #menubtn-right,.header #menubtn-back {
	width: 40px;
	float: right;
	text-align: left
 }

.header #menubtn-left:before,.header #menubtn-right:before,.headerwhite #menubtn-left:before,.headerwhite #menubtn-right:before,.header #menubtn-back:before {
	content: '\2630';
	font: 40px/50px 'entypo';
	color: white;
	speak: none;
	color: #f5f5f5;
	position: relative;
	z-index: 5
 }

.headerwhite #menubtn-left:before,.headerwhite #menubtn-right:before {color: #2c3e50}

.header #menubtn-right:before,.headerwhite #menubtn-right:before {content: '\e005'}

.header #menubtn-back:before {content: '\f519';font-size:30px}

#swipeme {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 40px;
	height: 100%
 }

.h,.hblack {
	background: #f5f5f5;
	background: -webkit-linear-gradient(top, #fff 25%, #f5f5f5 100%);
	background: linear-gradient(to bottom, #fff 25%, #f5f5f5 100%);
	width: auto;
	height: 20px;
	padding: 15px;
	font: bold 19px/22px 'Noto Sans';
	color: #333;
	text-transform: uppercase;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	vertical-align: top
 }

.hblack {
	background: #2c3e50;
	background: -webkit-linear-gradient(top, #395067 0, #2c3e50 100%);
	background: linear-gradient(to bottom, #395067 0, #2c3e50 100%);
	color: #f5f5f5;
	border-bottom: 1px solid #2b2b2b;
	border-top: 1px solid #2c3e50
 }

.h .dd {float: right;line-height:22px}

#cookie {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2c3e50;
	padding: 5px;
	z-index: 999
 }

#cookie h3 {color: white;line-height:35px}

#cookie p {
	color: white;
	font-size: 10px;
	padding: 0 10px;
	text-align: justify
 }

#cookie a {color: white !important;text-decoration:underline}

input[type="text"],input[type="password"],input[type="date"],input[type="datetime"],input[type="datetime-local"],input[type="month"],input[type="week"],input[type="email"],input[type="number"],input[type="tel"],input[type="time"],input[type="url"],textarea {
	background-color: white;
	font-family: 'Noto Sans';
	border: 1px solid #cccccc;
	color: #555;
	display: block;
	font-size: 1.2em;
	margin: 0 0 1em 0;
	padding-left: 60px;
	height: 2.5em;
	width: 100%;
	border-radius: 3px;
	letter-spacing: 1px;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
 }

#sinput {padding-left: 7px}

.btn,.btngoogle,.btnfacebook,.btntwitter,.btngoogle-small,.btntwitter-small,.btnblue,.btnwhite,.btnnext,.btngreen,.btnfona,.btnspotify,.btndeezer,.btnyoumusic,.btnwimp,.btnrdio,.btntdcplay,.btnitunes,.btnservice,.btngrey,.btncomp,#acser,.btnmore,.btndigster,.btntelmore,.btngooglemusic,.acbtn {
	width: 100%;
	font: 700 16px 'Noto Sans';
	text-align: center;
	padding: 18px 0 17px 0;
	cursor: pointer;
	list-style: none;
	border-radius: 3px;
	border: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none
 }

.acbtn {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

.btndigster {background: none;margin-top:3px}

.btndigster:after {
	content: '\25b6';
	font-family: 'entypo';
	speak: none;
	padding-left: 10px
 }

.btnspacer {margin-bottom: 5px}

.btnwhite,.btnnext {
	background: none;
	color: #888;
	border: none
 }

.btnnext:after {
	content: '\e762';
	font-family: 'entypo';
	speak: none;
	padding-left: 8px;
	vertical-align: middle
 }

.btngrey,.btncomp {
	background: #ccc;
	color: white;
	border: none;
	border-bottom: 2px solid #c4c4c4
 }

.btncomp {margin: 3px 0}

.btngreen,.acbtn {
	background: #38BF73;
	color: #f5f5f5;
	border: none;
	border-bottom: 2px solid #2c985b
 }

.acbtn {
	border-radius: 99px;
	z-index: 99;
	padding: 15px;
	font-size: 70%;
 }

.btnblue {
	background: #3498db;
	color: #f5f5f5;
	border: none;
	border-bottom: 2px solid #217dbb
 }

.btnservice {
	float: right;
	width: 81.5%;
	background: #38BF73;
	color: #f5f5f5;
	border: none;
	border-bottom: 2px solid #2c985b
 }

.btnservice:before {
	content: '\f50a';
	font-family: 'entypo';
	speak: none;
	padding-right: 10px
 }

.btnfacebook {
	font-size: 16px;
	background: #3b5998;
	color: #f5f5f5;
	border-bottom: 2px solid #2d4373
 }

.btnfacebook:before {
	content: '\f30c';
	font-family: 'entypo';
	speak: none;
	padding-right: 7px
 }

.btngoogle,.btngoogle-small {
	font-size: 16px;
	background: #d44034;
	color: #f5f5f5;
	border-bottom: 2px solid #9b2a21
 }

.btngoogle:before,.btngoogle-small:before {
	content: '\f30f';
	font-family: 'entypo';
	speak: none;
	padding-right: 7px !important
 }

.btngoogle-small,.btngoogle-small:before {
	margin: 10px 0;
	padding: 10px 0 9px 0;
	font-size: 12px
 }

.btntwitter,.btntwitter-small {
	font-size: 16px;
	background: #35d1ff;
	color: #f5f5f5;
	border-bottom: 2px solid #00b3e7
 }

.btntwitter:before,.btntwitter-small:before {
	content: '\f309';
	font-family: 'entypo';
	speak: none;
	padding-right: 7px !important
 }

.btntwitter-small,.btntwitter-small:before {
	margin: 10px 0;
	padding: 10px 0 9px 0;
	font-size: 12px
 }

.btnmore {background: none;color:#888}

.btnmore:after {
	font-family: 'entypo';
	speak: none;
	content: '\2b07';
	padding-left: 7px;
	vertical-align: middle
 }

.btnfona,.btnspotify,.btnwimp,.btnrdio,.btntdcplay,.btnitunes,.btndeezer,.btnyoumusic,.btntelmore,.btngooglemusic {background-size: 50% !important;background-origin:content-box}

.btnfona {background: #1b102c url(https://static.musik.dk/assets/css/services/fona.svgz) no-repeat center;border-bottom:2px solid #040207}

.btnspotify {background: #84b82d url(https://static.musik.dk/assets/css/services/spotify.svgz) no-repeat center;border-bottom:2px solid #678f23}

.btndeezer {
	background: #333 url(https://static.musik.dk/assets/css/services/deezer.svgz) no-repeat center;
	border-bottom: 2px solid #1a1a1a;
	background-size: 45% !important
 }

.btntelmore {
	background: #313131 url(https://static.musik.dk/assets/css/services/telmore.svgz) no-repeat center;
	border-bottom: 2px solid #181818;
	background-size: 45% !important
 }

.btngooglemusic {
	background: #fb8521 url(https://static.musik.dk/assets/css/services/googlemusic.svgz) no-repeat center;
	border-bottom: 2px solid #e56b04;
	background-size: 45% !important
 }

.btnwimp {background: #520f41 url(https://static.musik.dk/assets/css/services/wimp.svgz) no-repeat center;border-bottom:2px solid #27071f}

.btnrdio {
	background: #008fd5 url(https://static.musik.dk/assets/css/services/rdio.svgz) no-repeat center;
	border-bottom: 2px solid #006da2;
	background-size: 38% !important
 }

.btntdcplay {background: #2385f1 url(https://static.musik.dk/assets/css/services/tdcplay.svgz) no-repeat center;border-bottom:2px solid #0d6cd4}

.btnyoumusic {
	background: #4dbb4d url(https://static.musik.dk/assets/css/services/youmusic.png) no-repeat center;
	border-bottom: 2px solid #3b9a3b;
	background-size: 35% !important
 }

.btnitunes {background: #265fb0 url(https://static.musik.dk/assets/css/services/itunes.svgz) no-repeat center;border-bottom:2px solid #1d4886}

#loginwrap {padding: 15px;min-height:550px}

#logininnerwrap {max-width: 500px;margin:0 auto}

#login li {margin-bottom: 10px}

#login h2,#login h3 {
	font-size: .8rem;
	padding: 25px 0;
	color: white;
	display: block
 }

#login h2 {line-height: 22px}

#login h3:after {
	content: '\e75e';
	font-family: 'entypo';
	speak: none;
	padding-left: 8px
 }

@media (min-width:500px){
	.loginsvg img{
		padding:20px 0 25px 0
	}
}

@media (min-width:600px){
	.loginsvg img{
		padding:50px 0 25px 0}
}

.loginsep {
	height: 5px;
	background: #f5f5f5;
	margin-bottom: 20px
 }

.feat,.albumfeat {
	width: 100%;
	background: #2c3e50;
	position: relative
 }

.feat img,.albumfeat img {width: 100%;vertical-align:middle}

.goto:before,.goplay:before,.goplayvideo:before,.playpl:before {
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	content: '\27a1';
	font: 48px 'entypo';
	speak: none;
	color: white;
	border-radius: 99px;
	padding: 15px 22px 15px 25px;
	background: rgba(0,0,0,0.5)
 }

@media (max-width:350px){
	.goto:before,.goplay:before,.goplayvideo:before,.playpl:before{
		padding:8px 24px 12px 27px
	}
}

.goplay:before,.goplayvideo:before,.playpl:before {content: '\25b6';padding:15px 23px 12px 30px}

.goplayvideo:before {top: 40%}

.playpl:before {top: 45%}

.vidpup:before {background-color: #ed1941}

.modal-inner {
	background: #f5f5f5;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	top: 0;
	left: 0;
	right: 0;
	padding-top: 5em;
	padding-bottom: 5px;
	height: 100%;
	overflow: auto
 }

.modal-close:after {
	content: '\2716';
	font: 50px/38px 'entypo';
	color: #f5f5f5;
	speak: none;
	top: 40px;
	left: 50%;
	z-index: 40;
	display: block;
	padding: 0.5em 5em;
	position: absolute;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

.c,.acc,.merchlist li {
	position: relative;
	background: white;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px;
	list-style: none
 }

.acc {padding: 0;margin-bottom:0}

.clist ul,.rmxlist ul,.nlist ul,.alist ul,.nlistad ul,.alistad ul,.complist ul,.suplist ul,.llist ul {width: 100%}

.clist ul li a,.nlist ul li a,.alist ul li a,.nlistad ul a,.alistad ul a,.rmxlist ul a,.complist ul a,.suplist ul a {width: 100%}

.clist img,.nlist img,.nlistad img,.rmxlist ul img,.rmxlist img,.complist img,.suplist img {
	width: 40%;
	vertical-align: middle;
	float: left
 }

.nlistad img {width: 25%}

.nlist img {width: 20%}

.rmxlist img {width: 25%}

.alist img,.alistad img,.complist img,.suplist img {width: 100%}

.suplist li {position: relative}

.suplist a .supsub {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0, #151515 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0, #151515 100%);
	background-repeat: repeat-x;
	height: 30px
 }

.suplist a div time {
	position: relative;
	color: white;
	font: 300 9px/16px 'Noto Sans',sans-serif;
	float: right
 }

.suplist a .expander:before {
	position: absolute;
	left: 50%;
	top: 30%;
	content: '\e744';
	font: 700 45px 'entypo';
	speak: none;
	color: white;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	text-shadow: 0 1px rgba(0,0,0,0.5)
 }

.suplist a div span {
	position: relative;
	margin: 8px;
	line-height: 30px
 }

.complist img {border-bottom: 4px solid #3498db;margin-bottom:10px}

.clist li,.nlist li,.alist li,.crel,.cdigster,.nlistad li,.alistad li,.rmxlist li,.complist li,.suplist li,.llist li {
	margin: 5px 5px 0 5px;
	background: white;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	overflow: auto;
	border-radius: 3px
 }

.llist li {position: relative;margin:5px}

.cdigster {margin-bottom: 5px}

.nlistad li,.alistad li {
	position: relative;
	background: #2c3e50;
	border: #333;
	border-bottom: 2px solid #1f2c39
 }

.nlistad li:after {
	speak: none;
	content: '\e766';
	font: 20px 'entypo';
	color: #f5f5f5;
	position: absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	top: 40%;
	right: 15px
 }

.nlistad li h3 {
	display: block;
	color: #f5f5f5;
	font-size: .9em;
	padding-left: 16px;
	font-weight: 700
 }

.nlistad li span {margin: 20px 0 0 10px;display:inline-block}

.nlistad li h2 {
	color: #aaa;
	font-size: .75em;
	padding: 6px 0 0 11px;
	display: block
 }

.nlistad li h2:before {
	font-family: 'entypo';
	speak: none;
	content: '\f465';
	padding: 0 5px
 }

.alist li,.alistad li,.complist li,.suplist li {
	margin: .9%;
	width: 47.8%;
	float: left
 }

@media (max-width:470px){
	.alist li,.alistad li,.complist li,.suplist li{
		width:47.3%
	}
}

.alist li:nth-child(even),.alistad li:nth-child(even),.complist li:nth-child(even),.suplist li:nth-child(even) {margin-right: .5%;float:right}

.clist li span,.nlist li span,.alist li span,.alistad li span,.rmxlist li span,.llist li article {
	padding: 5% 0 0 3%;
	overflow: hidden;
	display: block
 }

.nlist li span {padding: 4% 0 0 3%}

.alist li span,.alistad li span {padding: 4% 0 1% 5%}

.clist h2,.llist h2 {
	font-size: 1rem;
	font-weight: 700;
	display: block
 }

.alist h2,.alistad h2 {
	font-size: .8rem;
	font-weight: 700;
	display: block;
	padding-bottom: 5px
 }

.clist h3,.nlist h2,.llist h3 {
	font-size: .8rem;
	font-weight: 200;
	color: #737373
 }

.alist h3,.alistad h3 {
	font-size: .6rem;
	font-weight: 200;
	color: #999;
	vertical-align: text-top
 }

.alist h5,.alistad h5 {
	font-size: .65rem;
	font-weight: 300;
	color: #4d4d4d;
	vertical-align: text-top
 }

.alistad h5 {color: #f5f5f5}

.alistad h2 {color: #f5f5f5}

.alist h3:before,.alistad h3:before {
	content: '\f465';
	font-family: 'entypo';
	speak: none;
	padding-right: 5px
 }

.alist h4,.alistad h4 {
	font-size: .6rem;
	font-weight: 200;
	color: #999;
	vertical-align: text-top
 }

.alist h4,.alist h3,.clist h3,.alist h2,.clist h2,.alist h5,.adnlist li h3,.alistad h3,.alistad h4,.alistad h5,.llist h2,.llist h3,.merchlist li h2 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 96%
 }

@media (min-width:400px){
	.clist h2{
		font-size:1.5rem
	}
	.clist h3{
		font-size:1.2rem
	}
}


.clist li:last-child,.nlist li:last-child {margin: 5px}

.azlist {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-justify-content: space-around;
	justify-content: space-around
 }

.azlist li {
	background: #ddd;
	list-style: none;
	padding: 5px;
	color: #f5f5f5;
	font: 700 24px 'Noto Sans';
	width: 14%;
	float: left;
	text-align: center;
	border: .2rem solid #f5f5f5;
	border-radius: 6px
 }

.azlist li#selected {background: #4aa3df}

.aazlist li {width: 47%}

.aazlist li:nth-child(odd) {float: right}

.aazlist li p {
	line-height: 2rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden
 }

.crel ol,.cdigster ol {
	float: left;
	counter-reset: bold-counter;
	list-style: none;
	width: 100%;
	border-top: 3px dotted #ddd
 }

.cdigster ol {border-top: none}

.crel img {
	float: left;
	width: 80px;
	padding: 10px
 }

.crel h2 {
	width: 92%;
	display: block;
	font-size: 18px;
	padding-top: 7px
 }

.crel h2 span {
	font-size: 12px;
	color: #666;
	display: block;
	padding: 7px 0 0 7px
 }

.crel li,.cdigster li {
	font: 12px/21px 'Noto Sans';
	border-bottom: 1px dotted #ddd;
	padding: 8px 0
 }

.crel li:last-child,.cdigster li:last-child {border-bottom: none}

.crel li:before,.cdigster li:before {
	content: counter(bold-counter);
	counter-increment: bold-counter;
	margin-right: 5px;
	font-weight: bold
 }

.crel li h4 {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 92%
 }

.crel li span,.cdigster li span {float: right;color:#666}

.ach {position: relative}

.ach img {border-bottom: 1px solid #ddd}

.meta,.metacomp,.metacomp2 {
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0, #151515 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0, #151515 100%);
	background-repeat: repeat-x;
	height: 85px;
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0
 }

.meta h2 {
	color: #ddd;
	font-size: 12px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	left: 50%;
	width: 80%;
	bottom: 20px;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%)
 }

.meta h1 {
	position: absolute;
	left: 50%;
	width: 80%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	bottom: 40px;
	color: white;
	font-size: 22px
 }

.meta h3 {
	position: absolute;
	bottom: 20px;
	left: 50%;
	width: 80%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	color: #c7c7c7;
	font-size: 12px;
	padding: 0 15px
 }

.meta h3:before {
	content: '\f465';
	font-family: 'entypo';
	speak: none;
	padding-right: 6px
 }

.meta h4 {
	color: white;
	font-size: 12px;
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
	position: absolute;
	bottom: 20px
 }

#acser {
	float: right;
	width: 17%;
	background: #34495e;
	border-bottom: 2px solid #273646
 }

#acser:after {
	font: 300 30px/19px 'entypo';
	speak: none;
	content: '\e78d';
	display: block;
	color: white
}

.acfollow {
	background: #3498db;
	border-radius: 3px;
	color: #f5f5f5;
	padding: 12px 2px 11px;
	font: 30px 'entypo';
	speak: none;
	text-align: center;
	float: left;
	width: 15.5%;
	margin-right: 1.5%
 }

.acfollow:before {content: '\2665'}

.acfollow.active {background: #38BF73}

.acfollow.active:before {content: '\2713'}

.acnews {overflow: auto}

.acnews img {
	border-radius: 3px 0 0 3px;
	float: left;
	width: 25% !important;
	margin-right: 10px;
	vertical-align: middle
 }

.acnews h2 {
	display: block;
	padding-top: 8px;
	width: 98%;
	color: #333;
	font: 300 12px/12px 'Noto Sans'
 }

.acnews h4 {
	color: #888;
	text-decoration: underline;
	font-size: 10px
 }

.acnewstime {
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	color: #999;
	font-size: 10px
 }

.acnews span {
	right: 10px;
	bottom: 10px;
	color: #999;
	font-size: 10px
 }

.acuser10 img {
	border-radius: 99px;
	width: 8.56%;
	margin: 1% .1% 0 0;
	display: inline-block
 }

#acmenu {
	background: #34495e;
	width: 100%;
	height: 45px;
	text-align: center
 }

#acmenu li {display: inline}

#acmenu li h2 {
	color: #f5f5f5;
	font-size: 12px;
	display: inline;
	padding: 8px;
	margin: 0 2%;
	line-height: 46px;
	background: #2c3e50;
	border: 1px solid #283949;
	border-radius: 3px
 }

@media (max-width:400px){
	#acmenu li h2{
		font-size:10px
	}
}

#acmenu li h2#selected {background: #f5f5f5;color:#2c3e50}

.merchlist li img {border-bottom: 1px solid #ddd;padding-bottom:5px}

.merchlist li h2 {
	font-size: 12px;
	padding-top: 5px;
	display: block
 }

.merchlist li h4 {
	font-size: 9px;
	color: #888;
	font-weight: 300
 }

.merchlist li span {
	background: #ed1941;
	font-size: 11px;
	color: white;
	padding: 1px 5px;
	border-radius: 3px
 }

#columngrid[data-columns]::before {content: '2 .column.size-1of2'}

.column {float: left}

.size-1of2 {width: 48%;margin:5px 1%}

.btnfollow {
	background: #3498db;
	border-radius: 3px;
	color: #fff;
	display: block;
	cursor: pointer;
	font: 300 11px 'Noto Sans',sans-serif;
	font-family: 'Noto Sans';
	padding: 10px;
	text-transform: uppercase;
	border: none;
	margin-top: 6px
 }

.btnfollow:after {
	content: 'Følg denne artist';
	text-align: right;
	padding-left: 6px
 }

.btnfollow:before {
	content: '\2605';
	font: 13px 'entypo';
	speak: none
 }

.btnfollow.active {background: #38BF73}

.btnfollow.active:before {
	content: '\2713';
	color: #f5f5f5;
	font: 13px 'entypo';
	speak: none
 }

.btnfollow.active:after {content: 'Du følger artisten';text-align:right}

.acbio-slim {
	padding: 15px;
	max-height: 120px;
	overflow: hidden
 }

.acbio-slim:before {background: pink;height:40px}

.acbio-full {padding: 15px;max-height:inherit}

.acbioshadow {
	box-shadow: inset 0 -20px 10px -15px rgba(0,0,0,0.2);
	-moz-box-shadow: inset 0 -20px 10px -15px rgba(0,0,0,0.2);
	-webkit-box-shadow: inset 0 -20px 10px -15px rgba(0,0,0,0.2)
 }

table {border-collapse: seperate;border-spacing:5px 0}

.alink {
	display: table;
	width: 105%;
	overflow: none;
	margin-left: -10px
 }

.alink li {display: table-cell}

.fblink {background: #3b5998;padding:15px !important}

.fblink:before {content: '\f30c'}

.twlink {background: #35d1ff}

.twlink:before {content: '\f309'}

.iglink {background: #976147}

.iglink:before {content: '\f32d'}

.goolink {background: #d44034}

.goolink:before {content: '\f30f'}

.fblink span,.goolink span,.twlink span {padding-left: 10px}

.sclink {background: #fd4200}

.sclink:before {content: '\f348'}

.fblink,.sclink,.goolink,.iglink,.twlink {
	color: #f5f5f5;
	padding: 10px;
	text-align: center;
	cursor: pointer
 }

.fblink:before,.sclink:before,.goolink:before,.iglink:before,.twlink:before {
	font-family: 'entypo';
	speak: none;
	font-size: 30px
 }

#usp p {
	display: block;
	padding: 5px;
	margin: 15px;
	text-decoration: underline;
	color: #333
 }

.ucpunfollow {opacity: .2}

#ap {
	position: absolute;
	bottom: 5px;
	left: 0;
	right: 0;
	height: 70px;
	background: #333
 }

#ap img {
	float: left;
	width: 70px;
	height: 70px;
	position: fixed
 }

#ap h2,#ap h3 {
	color: white;
	display: block;
	font-size: 12px;
	margin: 17px 0 0 85px
 }

#ap h2 {
	margin-top: 0;
	color: #c2c2c2;
	font-weight: 300
 }

#apminplay:before {
	position: absolute;
	right: 20px;
	top: 8px;
	color: white;
	float: right;
	font-size: 50px
 }

#apmax {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2c3e50
 }

#apcover img {border-radius: 3px;width:100%}

progress[value] {
	position: fixed;
	bottom: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: none;
	width: 100%;
	height: 5px
 }

progress[value]::-webkit-progress-bar {background: white}

progress[value]::-webkit-progress-value {background: #3498db}

#suptiles li {
	float: left;
	background: white;
	border: 1px solid #ddd;
	border-bottom: 2px solid #ddd;
	border-radius: 3px;
	margin-bottom: 5px
 }

#suptiles li img {
	width: 100%;
	max-width: none;
	height: auto;
	margin-bottom: 10px
 }

#suptiles img {margin-bottom: -5px;border-bottom:4px solid #2c3e50}

#suptiles p {
	font-size: 12px;
	color: #2c3e50;
	padding: 10px
 }

#suptiles a:link,#suptiles a:visited {display: inline;text-transform:none}

#suptiles h2 {
	font-size: 14px;
	font-weight: 700;
	color: #2c3e50;
	padding: 10px
 }

#suptiles h3 {
	float: right;
	font-size: 9px;
	color: #999;
	padding: 10px
 }

#campaign {position: absolute;z-index:0}

#campaignlive,#campaignreleases,#campaigncomp,#campaignvideo,#campaignremix,#campaignpoll {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0
 }

#campaignlive {background: -moz-linear-gradient(top, rgba(154,92,180,0.2) 0, #9a5cb4 98%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(154,92,180,0.2)), color-stop(98%, #9a5cb4))}

#campaignreleases {background: -moz-linear-gradient(top, rgba(26,188,156,0.2) 0, #1abc9c 98%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(26,188,156,0.2)), color-stop(98%, #1abc9c))}

#campaigncomp {background: -moz-linear-gradient(top, rgba(52,152,219,0.2) 0, #3498db 98%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(52,152,219,0.2)), color-stop(98%, #3498db))}

#campaignvideo {background: -moz-linear-gradient(top, rgba(237,25,65,0.4) 0, #ed1941 98%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(237,25,65,0.4)), color-stop(98%, #ed1941))}

#campaignremix {background: -moz-linear-gradient(top, rgba(230,126,34,0.2) 0, #e67e22 98%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(230,126,34,0.2)), color-stop(98%, #e67e22))}

#campaignpoll {background: -moz-linear-gradient(top, rgba(44,62,80,0.2) 0, #2c3e50 98%);background:-webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(44,62,80,0.2)), color-stop(98%, #2c3e50))}

#camlogo,#camlogomdk {
	position: absolute;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	left: 50%;
	top: 15%;
	opacity: 1 !important;
	width: 70%;
	z-index: 3;
	border-bottom: none
 }

#camlogomdk {width: 30%}

.metacamp h2 {
	color: white;
	font-size: 22px;
	width: 90%;
	position: absolute;
	bottom: 22px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%)
 }

#cambgpoll {background: #2c3e50}

#camrel {
	overflow: auto;
	position: relative;
	z-index: 1
 }

.pollcenter {
	width: 70%;
	margin: 0 auto;
	padding-left: 60px
 }

.pollcenter img {top: 10% !important;width:90% !important}

.pollw {height: 90px}

.pollw a div:after {
	font-family: 'entypo';
	padding-left: 7px;
	content: '\25b6';
	speak: none
 }

#progresspoll {
	background: white;
	border-radius: 0 3px 3px 0;
	height: 16px;
	margin: -18px 0 0 -3px;
	opacity: .8
 }

#progresspoll:after {
	content: attr(data-procentage) '%';
	padding-left: calc(100% + 10px);
	color: white;
	font: 300 12px/16px 'Noto Sans';
	opacity: .4;
	vertical-align: super
 }

.poll:before {
	content: '\f44d';
	font-family: 'entypo';
	speak: none;
	color: #2c3e50;
	background: white;
	border-radius: 99px;
	font-size: 20px;
	padding: 17px 19px;
	margin-left: -57px;
	cursor: pointer
 }

.poll:hover:before {background: #3498db;color:#fff}

.pollactive:before {
	content: '\f44d';
	font-family: 'entypo';
	speak: none;
	color: white;
	background: #3498db;
	border-radius: 99px;
	font-size: 20px;
	padding: 17px 19px;
	margin-left: -57px;
	cursor: pointer
 }

.polltitle {
	color: white;
	font: 300 10px 'Noto Sans';
	margin: 10px 0 0 0
 }

ul.polllist {margin-top: 120px}

.polllist li {list-style: none}

.polllist p,.polllist h2 {
	margin-left: -60px;
	color: white;
	padding-bottom: 25px
 }

.polllist h2 {font-weight: 700;font-size:12px}

#pollembedscroll {
	position: relative;
	width: 100%;
	height: 400px;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 13px, rgba(255,255,255,0.05) 13px, rgba(255,255,255,0.05) 25px)
 }

#pollembedscroll iframe {
	position: absolute;
	top: 58%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

#camspotify {
	position: absolute;
	top: 0;
	text-align: center;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	background: #84b82d;
	z-index: 2;
	border-radius: 0 0 12px 12px;
	border-bottom: 2px solid #75a428
 }

#camspotify:before {
	content: 'I samarbejde med';
	position: absolute;
	font: 300 10px 'Noto Sans';
	left: 27px;
	top: 10px;
	color: white
 }

#camspotify img {width: 100px;padding:30px 20px 10px}

h3#nolivetitle {
	position: absolute;
	top: 50%;
	left: 50%;
	color: rgba(255,255,255,0.8);
	z-index: 99;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

#nextlive div {
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-bottom-width: 50%;
	text-align: center;
	position: absolute;
	max-width: 60%;
	top: 50%;
	left: 50%;
	right: 0;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	padding: 15px 0
 }

.nxtfront div {top: 60% !important}

#nextlive div h2,#nextlive div h3,#nextlive div time,#nextlive div h5 {
	font: 700 30px 'Noto Sans',sans-serif;
	color: white;
	display: block
 }

#nextlive div h3 {font: 300 16px 'Noto Sans',sans-serif}

#nextlive div time,#nextlive div h5 {font-size: 16px;font-style:italic}

.lldate {
	float: left;
	height: 80px;
	width: 80px;
	background: #9b59b6;
	text-align: center
 }

.lldate h5,.lldate h6 {
	color: white;
	font: 700 22px/30px 'Noto Sans',sans-serif;
	display: block;
	margin-top: 5px
 }

.lldate h6 {margin-top: 0;font-size:42px}

.tgreen,.tyellow,.tred {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 45px;
	background: #3dbc73
 }

.tyellow,p#expyellow:before {background: #e6ba37}

.tred,p#expred:before {background: #d21035}

.tgreen h3,.tyellow h3,.tred h3 {
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	margin-top: 40px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg)
 }

.lexplain p {
	display: inline;
	padding: 0 5px;
	font-size: 10px
 }

p#expgreen:before,p#expyellow:before,p#expred:before {
	content: "";
	border-radius: 99px;
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px
 }

p#expgreen:before {background: #3DBC73}

#compcd {background: #3498db;text-align:center}

#compcd h3 {
	color: #f5f5f5;
	text-transform: uppercase;
	line-height: 35px;
	font: 100 16px/30px 'Noto Sans',sans-serif
 }

#compcd h3:before {
	content: '\f554';
	font-family: 'entypo';
	speak: none;
	padding-right: 7px
 }

#compinfo h2 {font-size: 16px;line-height:28px}

#compinfo li {margin-bottom: 5px}

#compinfo li:first-child {margin-top: 15px}

#compinfo li:last-child {margin-bottom: 0}

.compicons {
	color: #bbb;
	padding: 10px;
	display: block
 }

.compicons p {display: inline;padding:0 5px}

.compicons span {padding: 0 5px}

.metacomp {height: 160px}

.metacomp2 {height: 80px}

.metacomp h1,.metacomp2 h1 {
	color: white;
	font-size: 18px;
	display: block;
	font-family: 'Noto Sans',sans-serif;
	position: absolute;
	bottom: 80px;
	width: 80%;
	left: 20%;
	-webkit-transform: translateX(-15%);
	-moz-transform: translateX(-15%);
	-ms-transform: translateX(-15%)
 }

.metacomp2 h1 {bottom: 20px}

ul.countdown {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 20px;
	color: white;
	font-family: 'Noto Sans',sans-serif;
	list-style: none
 }

ul.countdown li {
	padding-right: 15px;
	display: inline-block;
	text-align: center
}

ul.countdown li span {font-size: 20px;font-weight:bold}

ul.countdown li p {font-size: 10px}

.archivecomp {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(255,0,0,0.7);
	text-align: center
 }

.archivecomp h2 {
	color: white;
	text-transform: uppercase;
	font-size: 14px;
	display: block
 }

.archivecomp span {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
 }

.archivecomp h2:before {
	content: '\26a0';
	font-size: 50px;
	font-family: 'entypo';
	speak: none;
	display: block
 }

.comptxt {text-align: justify}

.comptxt img {
	border-radius: 90px;
	width: 50px;
	vertical-align: middle;
	float: left;
	margin-bottom: 10px
 }

.comptxt h3 {padding: 14px 0 0 12px}

.comptxt p {float: left;margin-top:5px}

.metamore {
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0, #fff 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0, #fff 100%);
	background-repeat: repeat-x;
	height: 120px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0
 }

.metamore h5:before {
	content: '\e70a';
	color: black;
	font: 700 40px 'entypo',sans-serif;
	position: absolute;
	bottom: 20px;
	width: 100%;
	left: 0;
	right: 0;
	opacity: .65
 }

.compbtnwrap {padding: 30px 15px 0}

#vmeta {background: #ed1941}

#vmeta h2 {
	display: inline-block;
	color: #f5f5f5;
	font-weight: 300;
	font-size: 12px;
	padding: 10px;
	font-weight: 700
 }

#vmeta h2 span {font-weight: 300}

#vmeta h3 {
	float: right;
	display: inline;
	color: #f5f5f5;
	font-weight: 300;
	font-size: 12px;
	padding: 10px
 }

#vmeta h3:after {
	content: '\e70a';
	font-family: 'entypo';
	speak: none;
	padding-left: 7px
 }

.subvideo {
	height: 40px;
	background: #ed1941;
	font: 700 12px/40px 'Noto Sans',sans-serif;
	color: white;
	text-transform: uppercase;
	display: block;
	cursor: pointer
 }

#sadface {
	color: white;
	display: block;
	font-size: 160px;
	line-height: 250px
 }

.swipe {
	background-image: url(https://static.musik.dk/upload/mobile/swipeicon.svgz);
	background-repeat: no-repeat;
	background-size: 19px;
	padding-right: 16px;
	background-position: 2px;
	opacity: .4
 }

.notifygrey {background: #eaeaea;border-radius:3px}

.notifygrey h4,.notifygrey h5 {
	color: #333;
	line-height: 50px;
	font-size: 12px;
	font-weight: 300
 }

.notifygrey h5:after {
	content: '\e75e';
	font-family: 'entypo';
	speak: none;
	padding-left: 8px
 }

.notifygrey h4 span,.notifygrey h5 span {
	font-weight: 700;
	float: none;
	color: #333
 }

.statistic {
	width: 45%;
	margin-right: 1%;
	display: inline-block
}

.statistic:nth-child(2n) {margin-right: 0;float:right}

.statistic h4 {
	font-size: 40px;
	color: #2c3e50;
	text-align: center;
	display: block
}

.statistic h6 {
	font-size: 12px;
	color: #3d566e;
	text-align: center;
	display: block
}

.infotext {
	font-size: 12px;
	font-style: italic;
	color: #888
 }

.owl-carousel .animated {
	-webkit-animation-duration: 1000ms;
	animation-duration: 1000ms;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
 }

.owl-carousel .owl-animated-in {z-index: 0}

.owl-carousel .owl-animated-out {z-index: 1}

.owl-carousel p {font-size: 11px}

.owl-carousel #cnews h2 {padding: 5px;font-size:12px}

.owl-height {
	-webkit-transition: height 150ms ease-in-out;
	-moz-transition: height 150ms ease-in-out;
	transition: height 150ms ease-in-out
 }

.owl-carousel {
	display: none;
	width: 100%;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	z-index: 1
 }

.owl-carousel .owl-stage {position: relative;-ms-touch-action:pan-Y}

.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
 }

.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
 }

.owl-carousel .owl-controls .owl-nav .owl-prev,.owl-carousel .owl-controls .owl-nav .owl-next,.owl-carousel .owl-controls .owl-dot {display: none !important}

.owl-carousel.owl-loaded {display: block}

.owl-carousel.owl-loading {opacity: 0;display:block}

.owl-carousel.owl-hidden {opacity: 0}

.owl-carousel .owl-refresh .owl-item {display: none}

.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.owl-carousel .owl-item img {display: block;-webkit-transform-style:preserve-3d}

.owl-carousel.owl-text-select-on .owl-item {
	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto
}

.loading {
	border-bottom: 6px solid rgba(0,0,0,0.1);
	border-left: 6px solid rgba(0,0,0,0.1);
	border-right: 6px solid rgba(0,0,0,0.1);
	border-top: 6px solid rgba(0,0,0,0.4);
	border-radius: 100%;
	height: 30px;
	width: 30px;
	animation: rot .6s infinite linear;
	-webkit-animation: rot .6s infinite linear;
	margin: 0 auto 15px auto
 }

@keyframes rot{from{transform:rotate(0deg)}to{transform:rotate(359deg)}}@-webkit-keyframes rot{from{-webkit-transform:rotate(0deg)}to{-webkit-transform:rotate(359deg)}}

#supmain {position: relative}

#supmain .tc {height: 60px !important;padding-top:18px}

#mdkMainWrap {height: 100%}

#layout {height: 100%}

.artistChannelDiv {height: 100%}

.standardLayoutDiv {height: 100%}

.compModal {height: 100%;}

#musicservice .modal-content {
	margin-top: -100px;
 }

#musicservice .modal-close:after {background-color: #2c3e50;}

