/* MUSIK.DK - Last update: 06-03-2014 */


/* ///////////////////////////////
Please keep code tight and clean. 
DO NOT add code before you have checked existing code for reuseable classes!! 
///////////////////////////////*/


/* IMPORT MAIN LESS-codes*/
/*@import url('http://cphrecmedia.dk/musikdkmobil/assets/css/less.less');*/
@import url('https://musik.dk/assets/css/less.less');


/*
1 - BASICS START
////////////////////////////////////////////////////////////////////////////////////////////
*/

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: @lightblack;
  -webkit-appearance: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  overflow-x: hidden;
  background-image: url(//static.musik.dk/upload/mobile/leftmenubg.jpg);
  background-attachment:fixed;
}

p{
	font: 300 14px "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, 'Noto Sans', serif;
	line-height: 1.5em;	
}

h1, h2, h3, h4, h5, h6 {
	color: @blackblack;
	font-family:  'Noto Sans';
	display: inline;
}

ul {
  list-style: none;
}

a:link {
    text-decoration: none;
    color: inherit;
}
a:visited {
    text-decoration: none;
    color: inherit;
}

a:active {
    text-decoration: none;
    color: inherit;
}

.clear:after{
  content: "";
  display: table;
  clear: both;
} 


img{
	width: 100%;
	vertical-align: middle;
	border: 0px;
    outline: 0px
}



.wrapper {
    display: -webkit-box !important; 
    display: -moz-box !important; 
    display:-webkit-flex !important;
    display: -ms-flexbox !important;
    display:flex !important;
    min-height: 100% !important;
}


select {
    margin: 0;
    border:none;
    outline:none;
    display: inline-block;
    background: none;
    -webkit-appearance:none;
    -moz-appearance:none;
    text-decoration: underline
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.blackdot{
	background: @black;
	.roundedcorners;
}

.tc{
	text-align: center
}


.hcdiv{
	.translateX
}

.vcdiv{
	.translateY
}

.hvcdiv{
	.translate
}

/* HELPERS */

.fr{
	float:right
}


.lightblack{
	background: @lightblack !important
}

.green{
	background: @green !important
}


.greentext{
	color: @green
}

.red{
	background: @red !important
}

.redtext{
	color: @red
}

.whitetext{
	color:white
}


.roundedcorners{
	.roundedcorners
}

.pr{
	position: relative
}

.pa{
	position: absolute
}

.ip{
	padding: 5px;
	overflow: auto;
}

.ip2{
	padding: 5px 5px 0 5px;
	overflow: inherit;
}

.ip3{
	padding: 0 5px 5px;
	overflow: inherit;
}



.ip10{
	padding: 10px
}

.ipp{
	padding: 15px
}

.ellipsis,.ellipsis-ca,.ellipsis-small,.ellipsis-txtcomp{
    overflow: hidden;
	width: 98%;
    text-overflow: ellipsis;
	white-space: nowrap;
}

.ellipsis-ca{
	margin-top:18px;
	width: 65%;
}

.ellipsis-small{
	float: left;
	padding-top:7px;
	width: 50%;
}

.ellipsis-txtcomp{
	float: left;
	width: 67%;
}

.blacktext{
	color: black !important
}

.w64{
	width: 64% !important
}

.w81{
	width: 81% !important
}

.w100{
	width: 100% !important
}



.opacity03{
	opacity: .3
}

.h100{
	height: 100px
}



/* GRID */
.pc50{
	width: 48.3%;
	margin-right: 1%;
	display: inline-block;
}

.pc50:nth-child(2n){
	margin-right: 0;
	float: right;
}



/*
2 - ICONS START
////////////////////////////////////////////////////////////////////////////////////////////
*/

@font-face {
  font-family: 'entypo';
  src: url('entypo.eot');
  src: url('entypo.eot?#iefix') format('embedded-opentype'),
  	   url('entypo.woff2') format('woff2'),
       url('entypo.woff') format('woff'),
       url('entypo.ttf') format('truetype'),
       url('entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
.font-entypo {
  font-family: 'entypo';
  speak: none;
}

/* USED */
span.font-entypo.icon-mail:before{content:'\2709'}span.font-entypo.icon-lock:before{content:'\f512'}span.font-entypo.icon-video:before{content:'\f3ac'}span.font-entypo.icon-search:before{content:'\f50d'}span.font-entypo.icon-comment:before{content:'\e718'}span.font-entypo.icon-star:before{content:'\2605'}span.font-entypo.icon-book:before{content:'\f4d5'}span.font-entypo.icon-layout:before{content:'\268f'}span.font-entypo.icon-newspaper:before{content:'\f4f0'}span.font-entypo.icon-play:before{content:'\25b6'}span.font-entypo.icon-trophy:before{content:'\f3c6'}span.font-entypo.icon-plus:before{content:'\2b'}span.font-entypo.icon-export:before{content:'\e715'}span.font-entypo.icon-users:before{content:'\f465'}span.font-entypo.icon-heart:before{content:'\2665'}span.font-entypo.icon-pencil:before{content:'\270e'}span.font-entypo.icon-thumbs-up:before{content:'\f44d'}span.font-entypo.icon-eye:before{content:'\e70a'}span.font-entypo.icon-facebook:before{content:'\f30c'}span.font-entypo.icon-instagram:before{content:'\f32d'}span.font-entypo.icon-twitter:before{content:'\f309'}span.font-entypo.icon-warning:before{content:'\26a0'}span.font-entypo.icon-resize-small:before{content:'\e746'}span.font-entypo.icon-circled-cross:before{content:'\2716'}span.font-entypo.icon-paus:before{content:'\2389'}span.font-entypo.icon-ticket:before{content:'\f3ab'}span.font-entypo.icon-cart:before{content:'\e73d'}span.font-entypo.icon-up:before{content:'\2b06'}

/* NOT USED
span.font-entypo.icon-clock:before{content:'\f554'}span.font-entypo.icon-home:before{content:'\2302'};span.font-entypo.icon-google:before{content:'\f30f'};span.font-entypo.icon-user:before{content:'\f464'};;span.font-entypo.icon-beamed-note:before{content:'\266b'};;span.font-entypo.icon-chevron-small-right:before{content:'\e762'};span.font-entypo.icon-upload-cloud:before{content:'\e711'}span.font-entypo.icon-fb:before{content:'\23ea'};span.font-entypo.icon-ff:before{content:'\23e9'};span.font-entypo.icon-shuffle:before{content:'\f500'};span.font-entypo.icon-numbered-list:before{content:'\e005'};;span.font-entypo.icon-cd:before{content:'\f4bf'};span.font-entypo.icon-line-graph:before{content:'\f4c8'}span.font-entypo.icon-tag:before{content:'\e70c'};span.font-entypo.icon-chevron-left:before{content:'\e75d'}span.font-entypo.icon-chat:before{content:'\e720'}span.font-entypo.icon-c-spotify:before{content:'\f328'}span.font-entypo.icon-cog:before{content:'\2699'}span.font-entypo.icon-c-flickr:before{content:'\f304'}span.font-entypo.icon-camera:before{content:'\f4f7'}span.font-entypo.icon-resize-full:before{content:'\e744'}span.font-entypo.icon-picture:before{content:'\f305'}span.font-entypo.icon-sweden:before{content:'\f601'}span.font-entypo.icon-globe:before{content:'\f311'}span.font-entypo.icon-list:before{content:'\2630'}}span.font-entypo.icon-chevron-down:before{content:'\e75c'}span.font-entypo.icon-lock-open:before{content:'\f513'}span.font-entypo.icon-rdio:before{content:'\f324'}span.font-entypo.icon-cycle:before{content:'\f504'}span.font-entypo.icon-add-to-list:before{content:'\e003'}span.font-entypo.icon-circled-info:before{content:'\e705'}span.font-entypo.icon-block:before{content:'\f6ab'}span.font-entypo.icon-share:before{content:'\e73c'}span.font-entypo.icon-text-doc:before{content:'\f4c4'}span.font-entypo.icon-tools:before{content:'\2692'}span.font-entypo.icon-new:before{content:'\f4a5'}span.font-entypo.icon-megaphone:before{content:'\f4e3'}span.font-entypo.icon-bookmark:before{content:'\f516'}
span.font-entypo.icon-note:before{content:'\266a'}span.font-entypo.icon-music:before{content:'\f3b5'}span.font-entypo.icon-flashlight:before{content:'\f526'}span.font-entypo.icon-heart-empty:before{content:'\2661'}span.font-entypo.icon-star-empty:before{content:'\2606'}span.font-entypo.icon-add-user:before{content:'\e700'}span.font-entypo.icon-check:before{content:'\2713'}span.font-entypo.icon-squared-cross:before{content:'\274e'}span.font-entypo.icon-circled-plus:before{content:'\2795'}span.font-entypo.icon-squared-plus:before{content:'\229e'}span.font-entypo.icon-minus:before{content:'\2d'}span.font-entypo.icon-circled-minus:before{content:'\2796'}span.font-entypo.icon-squared-minus:before{content:'\229f'}span.font-entypo.icon-help:before{content:'\2753'}span.font-entypo.icon-circled-help:before{content:'\e704'}span.font-entypo.icon-info:before{content:'\2139'}span.font-entypo.icon-back:before{content:'\f519'}span.font-entypo.icon-link:before{content:'\f517'}span.font-entypo.icon-attach:before{content:'\f4ce'}span.font-entypo.icon-bookmarks:before{content:'\f4d1'}span.font-entypo.icon-flag:before{content:'\2691'}span.font-entypo.icon-thumbs-down:before{content:'\f44e'}span.font-entypo.icon-download:before{content:'\f4e5'}span.font-entypo.icon-upload:before{content:'\f4e4'}span.font-entypo.icon-reply:before{content:'\e712'}span.font-entypo.icon-reply-all:before{content:'\e713'}span.font-entypo.icon-forward:before{content:'\27a6'}span.font-entypo.icon-quote:before{content:'\275e'}span.font-entypo.icon-code:before{content:'\e714'}span.font-entypo.icon-feather:before{content:'\2712'}span.font-entypo.icon-print:before{content:'\e716'}span.font-entypo.icon-retweet:before{content:'\e717'}span.font-entypo.icon-keyboard:before{content:'\2328'}span.font-entypo.icon-bell:before{content:'\f514'}span.font-entypo.icon-vcard:before{content:'\e722'}span.font-entypo.icon-address:before{content:'\e723'}span.font-entypo.icon-location:before{content:'\e724'}span.font-entypo.icon-map:before{content:'\e727'}span.font-entypo.icon-direction:before{content:'\27a2'}span.font-entypo.icon-compass:before{content:'\e728'}span.font-entypo.icon-cup:before{content:'\2615'}span.font-entypo.icon-trash:before{content:'\e729'}span.font-entypo.icon-doc:before{content:'\e730'}span.font-entypo.icon-docs:before{content:'\e736'}span.font-entypo.icon-landscape-doc:before{content:'\e737'}span.font-entypo.icon-text-doc-inverted:before{content:'\e731'}span.font-entypo.icon-open-book:before{content:'\f4d6'}span.font-entypo.icon-folder:before{content:'\f4c1'}span.font-entypo.icon-archive:before{content:'\e738'}span.font-entypo.icon-box:before{content:'\f4e6'}span.font-entypo.icon-rss:before{content:'\e73a'}span.font-entypo.icon-phone:before{content:'\f4de'}span.font-entypo.icon-shareable:before{content:'\e73e'}span.font-entypo.icon-bag:before{content:'\f45c'}span.font-entypo.icon-calendar:before{content:'\f4c5'}span.font-entypo.icon-login:before{content:'\e740'}span.font-entypo.icon-logout:before{content:'\e741'}span.font-entypo.icon-mic:before{content:'\f3a4'}span.font-entypo.icon-mute:before{content:'\f507'}span.font-entypo.icon-sound:before{content:'\f50a'}span.font-entypo.icon-volume:before{content:'\e742'}span.font-entypo.icon-hourglass:before{content:'\23f3'}span.font-entypo.icon-light-bulb:before{content:'\f4a1'}span.font-entypo.icon-light-down:before{content:'\f505'}span.font-entypo.icon-light-up:before{content:'\f506'}span.font-entypo.icon-adjust:before{content:'\25d1'}span.font-entypo.icon-popup:before{content:'\e74c'}span.font-entypo.icon-publish:before{content:'\e74d'}span.font-entypo.icon-browser:before{content:'\e74e'}span.font-entypo.icon-arrow-combo:before{content:'\e74f'}span.font-entypo.icon-circled-down:before{content:'\e758'}span.font-entypo.icon-circled-left:before{content:'\e759'}span.font-entypo.icon-circled-right:before{content:'\e75a'}span.font-entypo.icon-circled-up:before{content:'\e75b'}span.font-entypo.icon-chevron-right:before{content:'\e75e'}span.font-entypo.icon-chevron-up:before{content:'\e75f'}span.font-entypo.icon-chevron-small-down:before{content:'\e760'}span.font-entypo.icon-chevron-small-left:before{content:'\e761'}span.font-entypo.icon-chevron-small-up:before{content:'\e763'}span.font-entypo.icon-chevron-thin-down:before{content:'\e764'}span.font-entypo.icon-chevron-thin-left:before{content:'\e765'}span.font-entypo.icon-chevron-thin-right:before{content:'\e766'}span.font-entypo.icon-chevron-thin-up:before{content:'\e767'}span.font-entypo.icon-down:before{content:'\2b07'}span.font-entypo.icon-left:before{content:'\2b05'}span.font-entypo.icon-right:before{content:'\27a1'}span.font-entypo.icon-triangle-down:before{content:'\25be'}span.font-entypo.icon-triangle-left:before{content:'\25c2'}span.font-entypo.icon-triangle-right:before{content:'\25b8'}span.font-entypo.icon-triangle-up:before{content:'\25b4'}span.font-entypo.icon-down-bold:before{content:'\e4b0'}span.font-entypo.icon-left-bold:before{content:'\e4ad'}span.font-entypo.icon-right-bold:before{content:'\e4ae'}span.font-entypo.icon-up-bold:before{content:'\e4af'}span.font-entypo.icon-down-thin:before{content:'\2193'}span.font-entypo.icon-left-thin:before{content:'\2190'}span.font-entypo.icon-right-thin:before{content:'\2192'}span.font-entypo.icon-up-thin:before{content:'\2191'}span.font-entypo.icon-ccw:before{content:'\27f2'}span.font-entypo.icon-cw:before{content:'\27f3'}span.font-entypo.icon-level-down:before{content:'\21b3'}span.font-entypo.icon-level-up:before{content:'\21b0'}span.font-entypo.icon-loop:before{content:'\f501'}span.font-entypo.icon-switch:before{content:'\21c6'}span.font-entypo.icon-stop:before{content:'\25a0'}span.font-entypo.icon-record:before{content:'\26ab'}span.font-entypo.icon-to-end:before{content:'\23ed'}span.font-entypo.icon-to-start:before{content:'\23ee'}span.font-entypo.icon-progress-0:before{content:'\e768'}span.font-entypo.icon-progress-1:before{content:'\e769'}span.font-entypo.icon-progress-2:before{content:'\e76a'}span.font-entypo.icon-progress-3:before{content:'\e76b'}span.font-entypo.icon-hair-cross:before{content:'\f3af'}span.font-entypo.icon-palette:before{content:'\f3a8'}span.font-entypo.icon-signal:before{content:'\f4f6'}span.font-entypo.icon-battery:before{content:'\f50b'}span.font-entypo.icon-back-in-time:before{content:'\e771'}span.font-entypo.icon-monitor:before{content:'\f4bb'}span.font-entypo.icon-mobile:before{content:'\f4f1'}span.font-entypo.icon-network:before{content:'\e776'}span.font-entypo.icon-inbox:before{content:'\e777'}span.font-entypo.icon-install:before{content:'\e778'}span.font-entypo.icon-cloud:before{content:'\2601'}span.font-entypo.icon-thunder-cloud:before{content:'\26c8'}span.font-entypo.icon-flash:before{content:'\26a1'}span.font-entypo.icon-moon:before{content:'\263d'}span.font-entypo.icon-airplane:before{content:'\2708'}span.font-entypo.icon-paper-plane:before{content:'\e79b'}span.font-entypo.icon-leaf:before{content:'\f343'}span.font-entypo.icon-lifebuoy:before{content:'\e788'}span.font-entypo.icon-mouse:before{content:'\e789'}span.font-entypo.icon-briefcase:before{content:'\f4bc'}span.font-entypo.icon-suitcase:before{content:'\e78e'}span.font-entypo.icon-dot:before{content:'\e78b'}span.font-entypo.icon-two-dots:before{content:'\e78c'}span.font-entypo.icon-three-dots:before{content:'\e78d'}span.font-entypo.icon-brush:before{content:'\e79a'}span.font-entypo.icon-magnet:before{content:'\e7a1'}span.font-entypo.icon-infinity:before{content:'\221e'}span.font-entypo.icon-erase:before{content:'\232b'}span.font-entypo.icon-pie-chart:before{content:'\e751'}span.font-entypo.icon-bar-graph:before{content:'\f4ca'}span.font-entypo.icon-area-graph:before{content:'\f53e'}span.font-entypo.icon-voicemail:before{content:'\2707'}span.font-entypo.icon-graduation-cap:before{content:'\f393'}span.font-entypo.icon-language:before{content:'\e752'}span.font-entypo.icon-water:before{content:'\f4a6'}span.font-entypo.icon-droplet:before{content:'\f4a7'}span.font-entypo.icon-air:before{content:'\e753'}span.font-entypo.icon-credit-card:before{content:'\f4b3'}span.font-entypo.icon-save:before{content:'\f4be'}span.font-entypo.icon-clipboard:before{content:'\f4cb'}span.font-entypo.icon-database:before{content:'\e754'}span.font-entypo.icon-drive:before{content:'\e755'}span.font-entypo.icon-bucket:before{content:'\e756'}span.font-entypo.icon-thermometer:before{content:'\e757'}span.font-entypo.icon-key:before{content:'\f511'}span.font-entypo.icon-flow-cascade:before{content:'\e790'}span.font-entypo.icon-flow-branch:before{content:'\e791'}span.font-entypo.icon-flow-tree:before{content:'\e792'}span.font-entypo.icon-flow-line:before{content:'\e793'}span.font-entypo.icon-flow-parallel:before{content:'\e794'}span.font-entypo.icon-rocket:before{content:'\f680'}span.font-entypo.icon-gauge:before{content:'\e7a2'}span.font-entypo.icon-traffic-cone:before{content:'\e7a3'}span.font-entypo.icon-cc:before{content:'\e7a5'}span.font-entypo.icon-cc-by:before{content:'\e7a6'}span.font-entypo.icon-cc-nc:before{content:'\e7a7'}span.font-entypo.icon-cc-nc-eu:before{content:'\e7a8'}span.font-entypo.icon-cc-nc-jp:before{content:'\e7a9'}span.font-entypo.icon-cc-sa:before{content:'\e7aa'}span.font-entypo.icon-cc-nd:before{content:'\e7ab'}span.font-entypo.icon-cc-pd:before{content:'\e7ac'}span.font-entypo.icon-cc-zero:before{content:'\e7ad'}span.font-entypo.icon-cc-share:before{content:'\e7ae'}span.font-entypo.icon-cc-remix:before{content:'\e7af'}span.font-entypo.icon-github:before{content:'\f300'}span.font-entypo.icon-c-github:before{content:'\f301'}span.font-entypo.icon-flickr:before{content:'\f303'}span.font-entypo.icon-vimeo:before{content:'\f306'}span.font-entypo.icon-c-vimeo:before{content:'\f307'}span.font-entypo.icon-c-twitter:before{content:'\f30a'}span.font-entypo.icon-c-facebook:before{content:'\f30d'}span.font-entypo.icon-s-facebook:before{content:'\f30e'}span.font-entypo.icon-c-google:before{content:'\f310'}span.font-entypo.icon-pinterest:before{content:'\f312'}span.font-entypo.icon-c-pinterest:before{content:'\f313'}span.font-entypo.icon-tumblr:before{content:'\f315'}span.font-entypo.icon-c-tumblr:before{content:'\f316'}span.font-entypo.icon-linkedin:before{content:'\f318'}span.font-entypo.icon-c-linkedin:before{content:'\f319'}span.font-entypo.icon-dribbble:before{content:'\f31b'}span.font-entypo.icon-c-dribbble:before{content:'\f31c'}span.font-entypo.icon-stumbleupon:before{content:'\f31e'}span.font-entypo.icon-c-stumbleupon:before{content:'\f31f'}span.font-entypo.icon-lastfm:before{content:'\f321'}span.font-entypo.icon-c-lastfm:before{content:'\f322'}span.font-entypo.icon-c-rdio:before{content:'\f325'}span.font-entypo.icon-spotify:before{content:'\f327'}span.font-entypo.icon-qq:before{content:'\f32a'}span.font-entypo.icon-dropbox:before{content:'\f330'}span.font-entypo.icon-evernote:before{content:'\f333'}span.font-entypo.icon-flattr:before{content:'\f336'}span.font-entypo.icon-skype:before{content:'\f339'}span.font-entypo.icon-c-skype:before{content:'\f33a'}span.font-entypo.icon-renren:before{content:'\f33c'}span.font-entypo.icon-sina-weibo:before{content:'\f33f'}span.font-entypo.icon-paypal:before{content:'\f342'}span.font-entypo.icon-picasa:before{content:'\f345'}span.font-entypo.icon-soundcloud:before{content:'\f348'}span.font-entypo.icon-mixi:before{content:'\f34b'}span.font-entypo.icon-behance:before{content:'\f34e'}span.font-entypo.icon-vk:before{content:'\f354'}span.font-entypo.icon-smashing:before{content:'\f357'}span.font-entypo.icon-db-shape:before{content:'\f600'}span.font-entypo.icon-db-logo:before{content:'\f603'};span.font-entypo.icon-google-circles:before{content:'\f351'} */

.formicon{
	position: absolute;
	font-size: 22px;
	padding: 12px;
	width: 25px;
	text-align: center;
	background: @blue;
	color: white;
	-webkit-font-smoothing: antialiased;
	.roundedcorners(2px 0 0 2px);
}

.hicon{
	font-size:25px;
	padding-right: 10px
}

.searchicon{
	color: white;
	font-size: 6rem;
	line-height: 160%;
}

.supicon{
	color: white;
	font-size: 14px;
}

.comppopupicon{
	color: white;
	font-size: 160px;
	line-height: 200px;
	margin-top: 30px;
	display: block
}


.greyicon{
	color: #ccc
}
	
/*
3 - GRID
////////////////////////////////////////////////////////////////////////////////////////////
*/



/*
4 - BASIC CONTENT
////////////////////////////////////////////////////////////////////////////////////////////
*/


/* MAINMENU */

.scl {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#sl {
  display: none;
  position: absolute;
  width: 260px;
  max-height: 100%;
  color: #fff;
}

#sr {
  display: none;
  right: 0;
  position: absolute;
  width: 180px;
  max-height: 100%;
  background: @lightblack;
  color: #fff;
  bottom: 0;
  top:0;
}

#sl.visible, #sr.visible {
  display: block;
}

.s ul li a,.sm ul li a {
  display: block;
  padding: 20px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  color:white;
  font: 100 14px 'Noto Sans', sans-serif;
  
}


.sm ul li a{
	opacity: .8
}



.s ul li a:after,.sm ul li a:after  {
  content:'\e75e';
  font: 15px 'entypo';
  speak:none;
  padding-right: 8px;
  float:right
}

.sm ul li#selected{
	border-left: 6px solid @white;
}

.sm ul li#acselected{
	border-left: 6px solid @black;
}

.sm ul li a#selected,.sm ul li a#acselected{
	opacity: 1;
}


.sm ul li.vid 	{
	padding: 14px 5px;
	border-top:2px solid darken(@darkred,10%); 
	border-bottom:1px solid darken(@darkred,5%); 
	background: @darkred;
}

.sm ul li.rmx 	{
	padding: 14px 5px;
	border-top:2px solid darken(@darkorange,10%); 
	border-bottom:1px solid darken(@darkorange,5%); 
	background: @darkorange;
}

.sm ul li.rel 	{
	padding: 14px 5px;
	border-top:2px solid darken(@darkgreen,10%); 
	border-bottom:1px solid darken(@darkgreen,5%); 
	background: @darkgreen;
}

.sm ul li.digster 	{
	padding: 14px 5px;
	border-top:2px solid @digster; 
	border-bottom:1px solid @digster; 
	background: @digsterlight;
}

.sm ul li.art 	{
	padding: 14px 5px;
	border-top:2px solid darken(@grey,11%); 
	border-bottom:1px solid darken(@grey,11%); 
	background: darken(@grey,7%);
}


.sm ul li h2 {
	color:white;
	font: 700 16px 'Noto Sans', sans-serif;
	text-transform: uppercase;
	padding: 10px;
	.roundedcorners;
}



.s ul li#mhome{
	border-left: 6px solid @black;
}

.s ul li#mhome-filled{
	border-left:24px solid @black;
}

.s ul li#mnews{
	border-left: 6px solid @lighterblack;
}

.s ul li#mnews-filled{
	border-left:24px solid @lighterblack;
}

.s ul li#mart{
	border-left: 6px solid white;
}

.s ul li#mart-filled{
	border-left:24px solid white;
}

.s ul li#mdigster{
	border-left: 6px solid @digster;
}

.s ul li#mdigster-filled{
	border-left:24px solid @digster;
}

.s ul li#mrel{
	border-left: 6px solid @green;
}

.s ul li#mrel-filled{
	border-left:24px solid @green;
}

.s ul li#mvid{
	border-left: 6px solid @red;
}

.s ul li#mvid-filled{
	border-left:24px solid @red;
}

.s ul li#mcomp{
	border-left: 6px solid @blue;
}

.s ul li#mcomp-filled{
	border-left:24px solid @blue;
}

.s ul li#mrmx{
	border-left: 6px solid @orange;
}

.s ul li#mrmx-filled{
	border-left:24px solid @orange;
}

.hred{
	background: @red
}

#swipe {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
 /*  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZlcnNpb249JzEuMScgd2lkdGg9JzMwMCcgaGVpZ2h0PSczMDAnPgoJPGRlZnM+CgkJPGZpbHRlciBjb2xvci1pbnRlcnBvbGF0aW9uLWZpbHRlcnM9J3NSR0InIGlkPSdmaWx0ZXIzMDAxJz4KCQkJPGZlVHVyYnVsZW5jZSB0eXBlPSdmcmFjdGFsTm9pc2UnIGJhc2VGcmVxdWVuY3k9JzEwMCAuODUnIG51bU9jdGF2ZXM9JzEnLz4KCQk8L2ZpbHRlcj4KCTwvZGVmcz4KCTxyZWN0IGhlaWdodD0nMjAwJScgd2lkdGg9JzIwMCUnIHN0eWxlPSdmaWx0ZXI6dXJsKCNmaWx0ZXIzMDAxKScgLz4KCTxyZWN0IGhlaWdodD0nMjAwJScgd2lkdGg9JzIwMCUnIHN0eWxlPSdmaWxsOiNmZmZmZmY7ZmlsbC1vcGFjaXR5OjAuOTsnLz4KPC9zdmc+'); */
 
  background-color: @white;
  box-shadow: 0 0 10px rgba(0,0,0,.6);
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transition: all 0.1s linear;
  width: 100%;
  min-height:100%;

}


#swipe.isOpenLeft {
  transform: translate3d(260px,0,0);
   -webkit-transform:  translate3d(260px,0,0);
  -ms-transform:  translate3d(260px,0,0);
}

#swipe.isOpenRight {
  transform: translate3d(-180px,0,0);
   -webkit-transform:  translate3d(-180px,0,0);
  -ms-transform:  translate3d(-180px,0,0);
}

.mlogo,.mlogologin{
	background-image: url(logo.svg);
	background-repeat: no-repeat;
	background-size: cover;
}

.mlogo{
	height:46px;
	width:88%;
	margin:12px;
}

#hlogo{
	width: 160px;
	margin-top: 8px
}

#dlogo{
	width: 60px;
	margin-top: 5px
}

.mlogologin{
	height:50%;
	width:100%
}

.mlogin{
	background: rgba(44, 62, 80, 0.5);
}

.mlogin{
	border-top: 1px solid rgba(44, 62, 80, 0.8);
	border-bottom: 1px solid rgba(44, 62, 80, 0.8);
	text-align: center;
	padding: 15px; 
	color: white;
	font-family: 'Noto Sans', sans-serif;
}

.mlogin:before{
 	content:'\f464';
 	font: 17px/25px 'entypo';
 	speak:none;
 	padding-right: 10px;
 	color: white
}


#mloggedinwrap{
	width: 100%;
	height: 55px;
	border-top: 1px solid rgba(44, 62, 80, 0.8);
	border-bottom: 1px solid rgba(44, 62, 80, 0.8);
}

#mluser{
	width: 129px;
	height: 47px;
	text-align: center;
	position: absolute;
	right: 0;
	padding: 8px 0 0 0;
	background: rgba(44, 62, 80, 0.5)
}


#mluser img{
	width: 40px;
	height:40px;
	.roundedcorners(99px);
}


#mlfav span{
	line-height: 57px;
	font-size: 40px;
	width: 130px;
	height: 55px;
	text-align: center;
	float:left;
	border-right: 1px solid rgba(44, 62, 80, 0.8);
	background: rgba(44, 62, 80, 0.5)
}







#search,#acsearch{
	background: rgba(44,62,80,.5);
	height:40px;
	width: 237px;
	margin: 10px;
	border:none;
	color:white;
	padding:0 9px 0 7px;
	font-size: 15px;
	.roundedcorners;
}

#acsearch{
	width: 95%;
}


/* HEADER */

.header,.headerwhite {
  height: 50px;
  background: @black;
  text-align: center;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-bottom: 2px solid darken(@black, 10%);
}


.header h1,.headerwhite h1{
	font-size: 15px;
	line-height: 49px;
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    padding: 0 10px;
}

.header h5,.header h6{
	font: 700 1.1rem/3rem 'Noto Sans';
	color:white
}


.header img,.headerwhite img{
	position: absolute;
	left:50%;
	top:5px;
	.translateX
}

.headerwhite{
	background: @white;
	border-bottom: 2px solid darken(@white, 10%);
}

.headerwhite h5,.headerwhite h6{
	font: 700 1.1rem/3rem 'Noto Sans';
	color:@blackblack
}


.hnews {
  background: @lighterblack;
  border-bottom: 2px solid @black
}


.hcomp {
  background: @blue;
  border-bottom: 2px solid @darkblue
}

.hrmx {
  background: @orange;
  border-bottom: 2px solid @darkorange
}

.hrel {
  background: @green;
  border-bottom: 2px solid @darkgreen
}

.hdigster {
  background: @digsterlight;
  border-bottom: 2px solid @digster
}


.hvid {
  background: @red;
  border-bottom: 2px solid @darkred
}

.header #menubtn-left,.headerwhite #menubtn-left{
  width: 40px;
  float: left;
/*   margin-left: -15px */
}

.header #menubtn-right,.headerwhite #menubtn-right,.header #menubtn-back{
  width: 40px;
  float: right;
  text-align: left;
}


.header #menubtn-left:before, .header #menubtn-right:before,.headerwhite #menubtn-left:before, .headerwhite #menubtn-right:before,.header #menubtn-back:before{
  content:'\2630';
  font: 40px/50px 'entypo';
  color: white;
  speak:none;
  color: @white;
  position: relative;
  z-index: 0;
}
.headerwhite #menubtn-left:before, .headerwhite #menubtn-right:before{
	color:@black
}

.header #menubtn-right:before,.headerwhite #menubtn-right:before{
  content:'\e005';
}

.header #menubtn-back:before{
	  content:'\f519';
	  font-size: 30px
}
.header #menubtn-back-black:before{
	  content:'\f519';
	  font-size: 30px
}

#swipeme {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 100%;
}

.h,.hblack{
	.hgradient;
	width: auto;
	height:20px;
	padding: 15px;
	font: bold 19px/22px 'Noto Sans'; 
	color: @blackblack;
	text-transform: uppercase;
	border-bottom: @bordergrey;
	border-top: @bordergrey;
	vertical-align: top;
}

.hblack{
	.blackgradient;
	color: @white;
	border-bottom:1px solid darken(@blackblack,3%);
	border-top:1px solid @black;
}

.h .dd{
	float: right;
	line-height: 22px;
}

/*
.h .dd:after{
	content: '\e760';
	font-family: 'entypo';
	padding-left: 7px;
	color: black;
	speak:none;	
}
*/



/* COOKIE-ACCEPT */

#cookie{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	background: @black;
	padding: 5px;
	z-index: 999
}

#cookie h3{
	color: white;
	line-height: 35px
}

#cookie p{
	color: white;
	font-size: 10px;
	padding: 0 10px;
	text-align: justify
}

#cookie a{
	color: white !important;
	text-decoration: underline
}


/* COOKIE-ACCEPT */



/* FORMS */


input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  background-color: white;
  font-family: 'Noto Sans';
  border: 1px solid #cccccc;
  color: #555;
  display: block;
  font-size: 1.2em;
  margin: 0 0 1em 0;
  padding-left: 60px;
  height: 2.5em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  .roundedcorners;
  letter-spacing: 1px;
  outline: none;
  .boxsizing;
  }

#sinput{
	padding-left: 7px
}


/* BUTTONS */

.btn,.btngoogle,.btnfacebook,.btntwitter,.btngoogle-small,.btntwitter-small,.btnblue,.btnwhite,.btnnext,.btngreen,.btnspotify,.btndeezer,.btnyoumusic,.btnwimp,.btnrdio,.btntdcplay,.btnitunes,.btnservice,.btngrey,.btncomp,#acser,.btnmore,.btndigster{
	width: 100%;
	font: 700 16px 'Noto Sans';
	text-align: center;
	padding: 18px 0 17px 0;
	cursor: pointer;
	list-style: none;
	.roundedcorners;
	border: none;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-appearance: none;
}

.btndigster{
	background: none;
	margin-top: 3px
}

.btndigster:after{
	content: '\25b6';
	font-family:'entypo';
	speak:none;
	padding-left: 10px	
}

.btnspacer{
	margin-bottom: 5px 
}

.btnwhite,.btnnext{
	background:none;
	color:#888;
	border: none;
/* 	border-bottom: 2px solid darken(@grey,10%);		 */
}

.btnnext:after{
	content: '\e762';
	font-family: 'entypo';
	speak:none;
	padding-left: 8px;
	vertical-align: middle	
}

.btngrey,.btncomp{
	background:#ccc;
	color:white;
	border: none;
	border-bottom: 2px solid darken(@grey,10%);		
}

.btncomp{
	margin: 3px 0
}

.btngreen{
	background:#38BF73;
	color:@white;
	border: none;
	border-bottom: 2px solid darken(#38BF73,10%);	
}



.btnblue{
	background:@blue;
	color:@white;
	border: none;
	border-bottom: 2px solid darken(@blue,10%);
}

.btnservice{
	float: right;
	width: 81.5%;
	background:#38BF73;
	color:@white;
	border: none;
	border-bottom: 2px solid darken(#38BF73,10%);
}

.btnservice:before{
	content: '\f50a';
	font-family: 'entypo';
	speak:none;
	padding-right: 10px
}

.btnfacebook{
	font-size: 16px;
	background: @facebook;	
	color:@white;
	border-bottom: 2px solid darken(@facebook,10%);
}

.btnfacebook:before{
	content: '\f30c';
	font-family: 'entypo';
	speak:none;
	padding-right: 7px
}

.btngoogle,.btngoogle-small{
	font-size: 16px;
	background: @google;	
	color:@white;
	border-bottom: 2px solid darken(@google,15%);
}

.btngoogle:before,.btngoogle-small:before{
	content: '\f30f';
	font-family: 'entypo';
	speak:none;
	padding-right:7px !important;
}

.btngoogle-small,.btngoogle-small:before{
	margin: 10px 0; 
	padding: 10px 0 9px 0;
	font-size: 12px;
}

.btntwitter,.btntwitter-small{
	font-size: 16px;
	background: @twitter;	
	color:@white;
	border-bottom: 2px solid darken(@twitter,15%);
}

.btntwitter:before,.btntwitter-small:before{
	content: '\f309';
	font-family: 'entypo';
	speak:none;
	padding-right: 7px !important
}

.btntwitter-small,.btntwitter-small:before{
	margin: 10px 0; 
	padding: 10px 0 9px 0;
	font-size: 12px;
}

.btnmore{
	background: none;
	color: #888;
}

.btnmore:after{
	font-family: 'entypo';
	speak:none;
	content: '\2b07';
	padding-left: 7px;
	vertical-align: middle;
}


.btnspotify,.btnwimp,.btnrdio,.btntdcplay,.btnitunes,.btndeezer,.btnyoumusic{
	background-size: 50% !important;
	background-origin: content-box;
}

.btnspotify{
	background: @spotify url(services/spotify.svgz) no-repeat center;
	border-bottom: 2px solid darken(@spotify,10%);
}


.btndeezer{
	background: @deezer url(services/deezer.svgz) no-repeat center;
	border-bottom: 2px solid darken(@deezer,10%);
	background-size: 45% !important;
}


.btnwimp{
	background: @wimp url(services/wimp.svgz) no-repeat center;
	border-bottom: 2px solid darken(@wimp,10%);
}


.btnrdio{
	background: @rdio url(services/rdio.svgz) no-repeat center;
	border-bottom: 2px solid darken(@rdio,10%);
	background-size: 38% !important;
}

.btntdcplay{
	background: @tdcplay url(services/tdcplay.svgz) no-repeat center;
	border-bottom: 2px solid darken(@tdcplay,10%);
}


.btnyoumusic{
	background: @youmusic url(services/youmusic.png) no-repeat center;
	border-bottom: 2px solid darken(@youmusic,10%);
	background-size: 35% !important;
}

.btnitunes{
	background: @itunes url(services/itunes.svgz) no-repeat center;
	border-bottom: 2px solid darken(@itunes,10%);
}

/* Login */

#loginwrap{
	padding: 15px;
	min-height: 550px;
	position: relative;
	margin: auto;
}

#logininnerwrap{
	max-width:500px;
	margin: 0 auto;
}

#login{
}

#login li{
	margin-bottom: 10px;
}


#login h2,#login h3{
	font-size: .8rem;
	padding: 25px 0;
	color: white;
	display: block
}

#login h2{
	line-height: 22px
}

#login h3:after {
  content:'\e75e';
  font-family:'entypo';
  speak:none;
  padding-left: 8px;
}



@media (min-width:500px){
  .loginsvg img{
	padding: 20px 0  25px 0
}}

@media (min-width:600px){
  .loginsvg img{
	padding: 50px 0  25px 0
}}

.loginsep{
	height: 5px;
	background: @white;
	margin-bottom: 20px;
}



/* Featured */

.feat,.albumfeat {
	width:100%;
	background: @black;
	position: relative;
}

.feat img,.albumfeat img {
	width:100%;
	vertical-align: middle;	
}

.goto:before,.goplay:before,.goplayvideo:before,.playpl:before{
	position: absolute;
	.translate;
	top: 50%;
	left: 50%; 
	content: '\e75e';
	font: 48px 'entypo';
	speak:none;
	color: white;
	.roundedcorners(99px);
	padding: 10px 25px 10px 30px;
	background: rgba(0,0,0,.5)
}

.goplay:before,.goplayvideo:before,.playpl:before{
	content: '\25b6';
	padding: 15px 23px 12px 30px;
}

.goplayvideo:before{
	top: 40%
}

.playpl:before{
	top: 45%;
}



/* Lightbox */
	
.modal--slide {
  -webkit-transform: translate(0, 100%);
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  width: 0;
  height: auto;
  overflow: hidden;
  opacity: 0;
  display: none\9;
}

.modal--slide:target {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
  width: auto;
  height: auto;
  opacity: 1;
}

.modal--slide:before {
    background-color: @black;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    height: 5em;
}

.vidpup:before{
	background-color: @red;

}

.modal-inner {
	background: @white;
    .boxsizing;
    padding: 25px;
	min-height: 550px;
	position: relative;
	margin: auto;
    overflow: auto;
}

 
 .modal-close:after{
	line-height:30px;
    content: '\2716';
    font: 50px/38px 'entypo';
    color: @white;
    speak:none;
    left:50%;
    z-index: 40;
    display: block;
    padding: 0.5em 5em;
    position: absolute;
    position: absolute;
    .translate
}

#musicservice{
	padding: 15px;
	min-height: 550px;
	position: relative;
	margin: auto;
}

/* Cards */

.c,.acc,.merchlist li{
	position: relative;
	background: white;
	border: @bordergrey;
	border-bottom:2px solid @grey;
	margin-bottom: 5px;
	padding: 5px;
	.roundedcorners;
	list-style: none;
}

.acc{
	padding: 0;
	margin-bottom: 0
}

.clist ul,.rmxlist ul,.nlist ul,.alist ul,.nlistad ul,.alistad ul,.complist ul,.suplist ul,.llist ul{
	width:100%
}

.clist ul li a,.nlist ul li a,.alist ul li a,.nlistad ul a,.alistad ul a,.rmxlist ul a,.complist ul a,.suplist ul a{
	width:100%
}

.clist img,.nlist img,.nlistad img,.rmxlist ul img,.rmxlist img,.complist img,.suplist img{
	width: 40%;
	vertical-align: middle;
	float:left;
}


.nlistad img{
	width: 25%
}

.nlist img{
	width: 20%
}

.rmxlist img{
	width: 25%
}

.alist img,.alistad img,.complist img,.suplist img{
	width: 100%
}

.suplist li{
	position: relative
}


.suplist a .supsub{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	/* background: rgba(0,0,0,.6); */
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(21,21,21,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(21,21,21,1) 100%);
	background-repeat: repeat-x;
	height: 30px
}


.suplist a div time{
	position: relative;
	color: white;
	font: 300 9px/16px 'Noto Sans', sans-serif;
	float: right;
}

.suplist a .expander:before {
	position: absolute;
	left:50%;
	top:30%;
	content: '\e744';
	font: 700 45px 'entypo';
	speak:none;
	color: white;
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	transform: translate(-50%);
	text-shadow: 0px 1px rgba(0,0,0,.5);

}

.suplist a div span{
	position: relative;	
	margin: 8px;
	line-height: 30px;
}


.complist img{
	border-bottom: 4px solid @blue;
	margin-bottom: 10px;
}

.clist li,.nlist li,.alist li,.crel,.cdigster,.nlistad li,.alistad li,.rmxlist li,.complist li,.suplist li,.llist li{
	margin: 5px 5px 0 5px;
	background: white;
	border: @bordergrey;
	border-bottom:2px solid @grey;
	overflow: auto;
	.roundedcorners;
}

.llist li{
	position: relative;
	margin: 5px
}


.cdigster{
	margin-bottom: 5px
}

.nlistad li,.alistad li{
	position: relative;
	background: @black;
	border:@blackblack;
	border-bottom:2px solid darken(@black,7%);
}

.nlistad li:after{
	speak: none;
	content:'\e766';
	font: 20px 'entypo';
	color:@white;
	position: absolute;
	.translateX;
	top:40%;
	right: 15px;
}

.nlistad li h3{
	display: block;
	color: @white;
	font-size: .9em;
	padding-left: 16px;
	font-weight: 700
}

.nlistad li span{
	margin: 20px 0 0 10px;
	display: inline-block
}

.nlistad li h2{
	color: #aaa;
	font-size: .75em;
	padding: 6px 0 0 11px;
	display: block;
}

.nlistad li h2:before{
	font-family: 'entypo';
	speak:none;
	content: '\f465';
	padding: 0 5px;
}




.alist li,.alistad li,.complist li,.suplist li{
	margin: .9%;
	width:47.8%;
	float: left;
}

@media (max-width:470px){
.alist li,.alistad li,.complist li,.suplist li{
	width:47.3%;
}}

.alist li:nth-child(even),.alistad li:nth-child(even),.complist li:nth-child(even),.suplist li:nth-child(even){
	margin-right: .5%;
	float: right;
}


.clist li span,.nlist li span,.alist li span,.alistad li span,.rmxlist li span,.llist li article{
	padding: 5% 0 0 3%;
	overflow: hidden;
	display: block;
}

.nlist li span{
	padding: 4% 0 0 3%;
}

.alist li span,.alistad li span{
	padding: 4% 0 1% 5%;
}

.complist li span{
	
}

.clist h2,.llist h2{
	font-size: 1rem;
	font-weight: 700;
	display: block;
}

.alist h2,.alistad h2{
	font-size: .8rem;
	font-weight: 700;
	display: block;
	padding-bottom: 5px;

}

.clist h3,.nlist h2,.llist h3{
	font-size: .8rem;
	font-weight: 200;
	color: lighten(@blackblack,25%);
}

.alist h3,.alistad h3{
	font-size: .6rem;
	font-weight: 200;
	color: lighten(@blackblack,40%);
	vertical-align: text-top;
}

.alist h5,.alistad h5{
	font-size: .65rem;
	font-weight: 300;
	color: lighten(@blackblack,10%);
	vertical-align: text-top;	
}

.alistad h5{
	color: @white
}

.alistad h2{
	color: @white
}

.alist h3:before,.alistad h3:before{
	content: '\f465';
	font-family: 'entypo';
	speak:none;
	padding-right: 5px;
}

.alist h4,.alistad h4{
	font-size: .6rem;
	font-weight: 200;
	color: lighten(@blackblack,40%);
	vertical-align: text-top;	
}


.alist h4,.alist h3,.clist h3,.alist h2,.clist h2,.alist h5,.adnlist li h3,.alistad h3,.alistad h4,.alistad h5,.llist h2,.llist h3,.merchlist li h2{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	width: 96%;
}

@media (min-width:400px){
.clist h2{
	font-size: 1.5rem;
}

.clist h3{
	font-size: 1.2rem;
}}

.clist li:last-child,.nlist li:last-child{
	margin: 5px
}


.azlist li{
	background: @grey;
	list-style: none;
	padding: 5px;
	display: inline-block;
	color:@white;
	margin: 2px 0;
	font:700 30px 'Noto Sans';
	width: 8%;
	text-align: center;
	display:table-cell;
	border:.2rem solid @white
}


.azlist li#selected{
	background: lighten(@blue,5%);
}



.aazlist li{
	width: 47%;
}

.aazlist li:nth-child(odd){
	float:right
}

.aazlist li p{
	line-height: 2rem;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}

.crel ol,.cdigster ol{
	float: left;
	counter-reset: bold-counter;
	list-style: none;
	width: 100%;
	border-top: 3px dotted @grey
}

.cdigster ol{
	border-top: none;
}

.crel img{
	float: left;
	width: 80px;
	padding: 10px
}

.crel h2{
	width: 92%;
	display: block;
	font-size: 18px;
	padding-top: 7px;
}

.crel h2 span{
	font-size: 12px;
	color: #666;
	display: block;
	padding: 7px 0 0 7px
}

.crel li,.cdigster li{
	font: 12px/21px 'Noto Sans';
	border-bottom: 1px dotted @grey;
	padding: 8px 0
}

.crel li:last-child,.cdigster li:last-child{
	border-bottom: none
}

.crel li:before,.cdigster li:before{
	content: counter(bold-counter);
    counter-increment: bold-counter;
    margin-right: 5px;
    font-weight: bold;
}

.crel li h4{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	width: 92%;
}

.crel li span,.cdigster li span{
	float:right;
	color: #666
}





/* Artist channel */

.ach{
	position: relative;
}

.ach img{
	border-bottom:1px solid  @grey;
}

.meta,.metacomp,.metacomp2{
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(21,21,21,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(21,21,21,1) 100%);
	background-repeat: repeat-x;
	height:85px;
	width: 100%;
	position: absolute;
	text-align: center;
	bottom: 0;
}


.meta h2{
	color: @grey;
	font-size: 12px;
	display: block;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	position: absolute;
	left:50%;
	width: 80%;
	bottom:20px;
	.translateX;
}

.meta h1{
	position: absolute;
	left:50%;
	width: 80%;
	.translateX;
	bottom:30px;
	color: white;
	font-size: 22px;
}

.meta h3{
	position: absolute;
	bottom:20px;
	left:50%;
	width: 80%;
	.translateX;
	color: darken(@white,18%);
	font-size: 12px;
	padding: 0 15px;
}

.meta h3:before{
	content: '\f465';
	font-family: 'entypo';
	speak:none;
	padding-right: 6px;
}

.meta h4{
	color: white;
	font-size: 12px;
	display: block;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
	width: 100%;
	position: absolute;
	bottom: 20px;
}



#acser{
	float: right;
	width: 17%;
	background: @lightblack;
	border-bottom: 2px solid darken(@black,3%)
}


#acser:after{
	font: 300 30px/19px 'entypo';
	speak: none;
	content: '\e78d';
	display: block;
	color: white;
}



.acfollow {
	background: @blue;
  .roundedcorners;
  color: @white;
  padding: 12px 2px 11px;
  font: 30px 'entypo';
  speak:none;
  text-align: center;
  float: left;
  width: 15.5%;
  margin-right: 1.5%;
}


.acfollow:before {
  content: '\2665';
}



.acfollow.active {
  background: #38BF73;
}

.acfollow.active:before {
  content: '\2713';
}

.acnews{
	overflow: auto
}

.acnews img{
	.roundedcorners-left;
	float: left;
	width: 25% !important;
	margin-right: 10px;
	vertical-align: middle;
	}

.acnews h2{
	display: block;
	padding-top: 8px;
	width: 98%;
	color: @blackblack;
	font: 300 12px/12px 'Noto Sans';
}

.acnews h4{
	color: #888;
	text-decoration: underline;
	font-size: 10px;
}

.acnewstime{
	position: absolute;
	bottom: 0;
	padding-bottom: 10px;
	color:#999;
	font-size: 10px;	
}

.acnews span{
	right:10px;
	bottom:10px;
	color:#999;
	font-size: 10px;
}




.acuser10 img{
	.roundedcorners(99px);
	width: 8.56%;
	margin: 1% .1% 0 0;
	display: inline-block;
}


#acmenu{
	background: @lightblack;
	width:100%;
	height:45px;
	text-align: center
}


#acmenu li{
	display: inline;	
}

#acmenu li h2{
	color: @white;
	font-size: 12px;
	display: inline;
	padding: 8px;
	margin: 0 2%;
	line-height: 46px;
	background: @black;
	border: 1px solid darken(@black,2%);
	.roundedcorners
}

@media (max-width:400px){
#acmenu li h2{
	font-size: 10px;
}}


#acmenu li h2#selected{
	background: @white;
	color:@black	
}




.merchlist li img{
	border-bottom: 1px solid @grey;
	padding-bottom: 5px
}

.merchlist li h2{
	font-size: 12px;
	padding-top: 5px;
	display: block
}

.merchlist li h4{
	font-size: 9px;
	color: #888;
	font-weight: 300
}

.merchlist li span{
	background: @red;
	font-size: 11px;
	color: white;
	padding: 1px 5px;
	.roundedcorners
}


#columngrid[data-columns]::before {
	content: '2 .column.size-1of2';
}

/* These are the classes that are going to be applied: */
.column { float: left; }
.size-1of2 { 
	width: 48%;
	margin: 5px 1%	
}



/* BurnBox */


/* Deactivated because of slow responding mobiles. Can be activated in the future */

/*
div#burnsbox,div#burnsboxvideo { 
  overflow: hidden; 
  position: relative; 
  padding-top: 100%;  
}

#burnsboxvideo { 
  padding-top: 56.3% !important;  
}

div#burnsbox img,div#burnsboxvideo img { 
  animation: zoom 10s alternate infinite;
  -webkit-animation: zoom 10s alternate infinite;
  position: absolute; 
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
  top: 0; 
  left:0; 
  width: 100%; 
  height: 100%; 
}


@keyframes zoom {
      from { transform:scale(1) }
      to { transform:scale(1.1) }
}  
  
@-webkit-keyframes zoom {
      from { -webkit-transform:scale(1) }
      to { -webkit-transform:scale(1.1) }
}
*/


/* Follow artist */

.btnfollow {
  background: @blue;
  .roundedcorners;
  color: #fff;
  display: block;
  cursor: pointer;
  font: 300 11px 'Noto Sans', sans-serif;
  font-family: 'Noto Sans';
  padding: 10px;
  text-transform: uppercase;
  border: none;
  margin-top: 6px;
}

.btnfollow:after {
  content: 'Følg denne artist';
  text-align: right;
  padding-left: 6px;
}

.btnfollow:before {
  content: '\2605';
  font: 13px 'entypo';
  speak:none;
}

.btnfollow.active {
  background: #38BF73;
}
.btnfollow.active:before {
  content: '\2713';
  color:@white;
  font: 13px 'entypo';
  speak:none; 
}

.btnfollow.active:after {
 content: 'Du følger artisten';
  text-align: right;
}


/* Biography */

.acbio-slim{
	padding: 15px;
	max-height: 120px;
	overflow: hidden;
}


.acbio-slim:before{
	background: pink;
	height: 40px;
}


.acbio-full{
	padding: 15px;
	max-height: inherit;
}

.acbioshadow{
	box-shadow: inset 0 -20px 10px -15px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 -20px 10px -15px rgba(0,0,0,.2);
    -webkit-box-shadow: inset 0 -20px 10px -15px rgba(0,0,0,.2);
}


/* Links */

table{
    border-collapse: seperate;
    border-spacing: 5px 0;
}

.alink {
    display: table;
    width: 105%;
    overflow: none;
    margin-left: -10px;
}

.alink li {
    display: table-cell;
}


.fblink{
	background: @facebook;
	padding: 15px !important;
}

.fblink:before{	
	content:'\f30c';
}


.twlink{
	background: @twitter;
}
.twlink:before{	
	content:'\f309';
}

.iglink{
	background: @instagram;

}
.iglink:before{	
	content:'\f32d';
}


.goolink{
	background: @google;
}
.goolink:before{	
	content:'\f30f';
}


.fblink span,.goolink span,.twlink span{
	padding-left: 10px;
}

.sclink{
   	background:@soundcloud;
}

.sclink:before{	
	content:'\f348';
}

.fblink,.sclink,.goolink,.iglink,.twlink{
	color:@white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}

.fblink:before,.sclink:before,.goolink:before,.iglink:before,.twlink:before{
	font-family: 'entypo';
	speak: none;
	font-size: 30px
}



/* Userpage */


#usp p{
	display: block;
	padding: 5px;
	margin: 15px; 
	text-decoration: underline;
	color: @blackblack
}

.ucpunfollow{
	opacity: .2
}


/* Audioplayer */



#ap{
	position: absolute;
	bottom: 5px;
	left:0;
	right:0;
	height: 70px;
	background: @blackblack
}

#ap img{
	float: left;
	width: 70px;
	height: 70px;
	position: fixed
}


#ap h2,#ap h3{
	color: white;
	display: block;
	font-size: 12px;
	margin: 17px 0 0 85px;
}


#ap h2{
	margin-top: 0;
	color: darken(@white,20%);
	font-weight: 300
}

#apminplay:before{
	position: absolute;
	right: 20px;
	top: 8px;
	color: white;
	float: right;
	font-size: 50px
}


#apmax{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background: @black
}

/*
#apcover{
	padding: 25px
}
*/




#apcover img{
	.roundedcorners;
	width: 100%
}


progress[value] {
	position: fixed;
	bottom: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border:none;
	width: 100%;
	height: 5px;
}

progress[value]::-webkit-progress-bar{
	background: white;
}

progress[value]::-webkit-progress-value {
	background: @blue;
}




/* Social updates */

#suptiles li{
	float: left;
	background: white;
	border: 1px solid @grey;
	border-bottom: 2px solid @grey;
	.roundedcorners;
	margin-bottom: 5px;
}

#suptiles li img{
	width: 100%;
	max-width: none;
	height: auto;
	margin-bottom: 10px;
}


#suptiles img{
	margin-bottom:-5px;
	border-bottom: 4px solid @black;
}


#suptiles p{
   	font-size: 12px;
	color: @black;
	padding: 10px;	
}


#suptiles a:link, #suptiles a:visited{
	display: inline;
	text-transform: none
}


#suptiles h2{
	font-size: 14px;
	font-weight: 700;
	color: @black;
	padding: 10px;	
}

#suptiles h3{
	float: right;
	font-size: 9px;
	color: #999;
	padding: 10px;
}


/* CAMPAIGNS */



/* CAMPAIGNS */



#campaign{
    position: absolute;
    z-index: 0;
}

/*
#campaign img{
    width: 100%;
    height: auto;
}
*/


#campaignlive,#campaignreleases,#campaigncomp,#campaignvideo,#campaignremix,#campaignpoll{
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0
}

#campaignlive{
	background: -moz-linear-gradient(top, rgba(154,92,180,0.2) 0%, rgba(154,92,180,1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(154,92,180,0.2)), color-stop(98%,rgba(154,92,180,1)));
}

#campaignreleases{
	background: -moz-linear-gradient(top, rgba(26,188,156,0.2) 0%, rgba(26,188,156,1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(26,188,156,0.2)), color-stop(98%,rgba(26,188,156,1)));
}

#campaigncomp{
	background: -moz-linear-gradient(top, rgba(52,152,219,0.2) 0%, rgba(52,152,219,1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,152,219,0.2)), color-stop(98%,rgba(52,152,219,1)));
}

#campaignvideo{
	background: -moz-linear-gradient(top, rgba(237,25,65,0.4) 0%, rgba(237,25,65,1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(237,25,65,0.4)), color-stop(98%,rgba(237,25,65,1)));
}	
	
#campaignremix{
	background: -moz-linear-gradient(top, rgba(230,126,34,0.2) 0%, rgba(230,126,34,1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,126,34,0.2)), color-stop(98%,rgba(230,126,34,1)));
}

#campaignpoll{
	background: -moz-linear-gradient(top, rgba(44,62,80,0.2) 0%, rgba(44,62,80,1) 98%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,62,80,0.2)), color-stop(98%,rgba(44,62,80,1)));
}


#camlogo,#camlogomdk{
	position: absolute;
	.translateX;
	left: 50%;
	top:15%;
	opacity: 1 !important;
	width: 70%;
	z-index: 3;
	border-bottom: none
}

#camlogomdk{
	width: 30%
}

.metacamp h2{
	color: white;
	font-size: 22px;
	width: 90%;
	position: absolute;
	bottom: 22px;
	left:50%;
	.translateX
}


#cambgpoll{
	background: @black
}

#camrel{
	overflow: auto;
    position: relative;
    z-index: 1;
}


.pollcenter{
	width: 70%;
	margin: 0 auto;
	padding-left: 60px
}




.pollcenter img{
	top: 10% !important;
	width: 90% !important
}

.pollw{
	height: 90px
}

.pollw a div:after{
	font-family: 'entypo';
	padding-left: 7px;
	content: '\25b6';
	speak: none
}


#progresspoll{
	background: white;
	.roundedcorners-right;
	height: 16px;
	margin:-20px 0 0 -3px;
	opacity: .8
}

#progresspoll:after{
	content: attr(data-procentage) + '%';
	padding-left: calc(~"100% + 10px");
	color: white;
	font: 300 12px/16px 'Noto Sans';
	opacity: .4;
	vertical-align: super
}


.poll:before{
	content: '\f44d';
	font-family: 'entypo';
	speak: none;
	color: @black !important;
	background: white !important;
	.roundedcorners(99px);
	font-size: 20px;
	padding: 17px 19px;
	margin-left: -57px;
	cursor: pointer
}


.poll:hover:before{
	background: @blue;
	color: white
}

.pollactive:before{
	content: '\f44d';
	font-family: 'entypo';
	speak: none;
	color: white !important;
	background: @blue !important;
	.roundedcorners(99px);
	font-size: 20px;
	padding: 17px 19px;
	margin-left: -57px;
	cursor: pointer
}



.polltitle{
	color: white;
	font: 300 10px 'Noto Sans';
	margin: 10px 0px 0px 0px
}

ul.polllist{
	margin-top: 120px;
}

.polllist li{
	list-style: none;
}


.polllist p,.polllist h2{
	margin-left: -60px;
	color: white;
	padding-bottom: 25px
}

.polllist h2{
	font-weight: 700;
	font-size: 12px
}


#pollembedscroll{
	position: relative;
	width: 100%;
	height: 400px;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 13px, rgba(255, 255, 255, 0.05) 13px, rgba(255, 255, 255, 0.05) 25px);
}

#pollembedscroll iframe{
	position: absolute;
	top:58%;
	left: 50%;
	.translate;
}
 
#camspotify{
	position: absolute;
	top:0;
	text-align: center;
	left:50%;
	.translateX;
	background: @spotify;
	z-index: 2;
	.roundedcorners-bottom(0 0 12px 12px);
	border-bottom: 2px solid darken(@spotify, 5%)
}

#camspotify:before{
	content: 'I samarbejde med';
	position: absolute;
	font: 300 10px 'Noto Sans';
	left:27px;
	top: 10px;
	color: white;
}

#camspotify img{
	width: 100px;
	padding: 30px 20px 10px
}


h3#nolivetitle{
	position: absolute;
	top: 50%;
	left: 50%;
	color: rgba(255,255,255,.8);
	z-index: 99;
	.translate;
}

/* Live */


#nextlive div{
	border-top: 3px solid white;
	border-bottom: 3px solid white;
	border-bottom-width: 50%;
	text-align: center;
	position: absolute;
	max-width: 60%; 
	top:50%;
	left:50%;
	right: 0;
	.translate;
	padding: 15px 0;
}

.nxtfront div{
	top:60% !important
}


#nextlive div h2,#nextlive div h3,#nextlive div time,#nextlive div h5{
	font: 700 30px 'Noto Sans', sans-serif;
	color: white;
	display: block;
}

#nextlive div h3{
	font: 300 16px 'Noto Sans', sans-serif;
}

#nextlive div time,#nextlive div h5{
	font-size: 16px;
	font-style: italic
}

.lldate{
	float: left;
	height: 80px;
	width: 80px;
	background: @purple;
	text-align: center
}

.lldate h5,.lldate h6{
	color: white;
	font: 700 22px/30px 'Noto Sans', sans-serif;
	display: block;
	margin-top: 5px;
}


.lldate h6{
	margin-top: 0;
	font-size: 42px
}


.tgreen,.tyellow,.tred{
	position: absolute;
	top:0;
	bottom: 0;
	right:0;
	width: 45px;
	background: #3DBC73
}

.tyellow,p#expyellow:before{
	background: @yellow
}

.tred,p#expred:before{
	background: @darkred
}


.tgreen h3,.tyellow h3,.tred h3{
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	display: block;
	margin-top: 40px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}



.lexplain p{
	display: inline;
	padding: 0 5px;
	font-size: 10px
}



p#expgreen:before,p#expyellow:before,p#expred:before{
	content: "";
	.roundedcorners(99px);
	width: 10px;
	height: 10px;
	display: inline-block;
	margin-right: 5px
	
}

p#expgreen:before{
	background: #3DBC73;
}



/* Competitions */

#compcd{
	background: @blue;
	text-align: center;
}

#compcd h3{
	color: @white;
	text-transform: uppercase;
	line-height: 35px;
	font: 100 16px/30px 'Noto Sans', sans-serif; 
}

#compcd h3:before{
	content:'\f554';
	font-family: 'entypo';
	speak:none;
	padding-right: 7px;
}


#compinfo h2{
	font-size: 16px;
	line-height: 28px
}

#compinfo li{
	margin-bottom: 5px;
}

#compinfo li:first-child{
	margin-top: 15px;
}

#compinfo li:last-child{
	margin-bottom: 0;
}

.compicons{
	color: #bbb;
	padding: 10px;
	display: block
	}

.compicons p{
	display: inline;
	padding: 0 5px;
}

.compicons span{
	padding: 0 5px;
}


.metacomp{
	height: 160px;
}


.metacomp2{
	height: 80px;
}

.metacomp h1,.metacomp2 h1 {
	color: white;
	font-size: 18px;
	display: block;
	font-family: 'Noto Sans', sans-serif;
	position: absolute;
	bottom: 80px;
	width: 80%;
	left:20%;
	-webkit-transform:translateX(-15%);
	-moz-transform:translateX(-15%);
	-ms-transform:translateX(-15%);
}

.metacomp2 h1{
	bottom: 20px
}



ul.countdown{
  position: absolute;
  left:0;
  right: 0;
  bottom: 20px;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  list-style:none;
  
  li {
    padding-right:15px;
    display:inline-block;
    text-align:center;
    
    span {
      font-size: 20px;
      font-weight:bold;
    }
    
    p {
      font-size: 10px;
    }
  }
}

.archivecomp{
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background: rgba(255,0,0,.7);
	text-align: center;
}

.archivecomp h2{
	color: white;
	text-transform: uppercase;
	font-size: 14px;
		display: block
}

.archivecomp span{
	position: absolute;
	top: 50%;
	left: 50%;
	.translate;
}

.archivecomp h2:before{
	content: '\26a0';
	font-size: 50px;
	font-family: 'entypo';
	speak:none;
	display: block
}


.comptxt{
	text-align: justify
}

.comptxt img{
	.roundedcorners(90px);
	width: 50px;
	vertical-align: middle;
	float: left;
	margin-bottom: 10px
}

.comptxt h3{
	padding:14px 0 0 12px;
}

.comptxt p{
	float: left;
	margin-top: 5px
}

.metamore{
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background-repeat: repeat-x;
	height:120px;
	position: absolute;
	bottom: 0;
	left:0;
	right:0;
}


.metamore h5:before{
	content: '\e70a';
	color: black;
	font: 700 40px 'entypo', sans-serif;
	position: absolute;
	bottom: 20px;
	width: 100%;
	left:0;
	right: 0;
	opacity: .65
}

.compbtnwrap{
	padding: 30px 15px 0
}

.compbtnwrap button{
	font-size:90%;
}



/* Video */

#vmeta{
	background: @red;
}


#vmeta h2{
	display: inline-block;
	color: @white;
	font-weight: 300;
	font-size: 12px;
	padding: 10px;
	font-weight: 700;

}

#vmeta h2 span{
	font-weight: 300;
}

#vmeta h3{
	float: right;
	display: inline;
	color: @white;
	font-weight: 300;
	font-size: 12px;
	padding: 10px;
}

#vmeta h3:after{
	content:'\e70a';
	font-family: 'entypo';
	speak:none;
	padding-left: 7px;
}

/*
@media (max-width:800px){
#vmeta h2 span{
	display: none
}}
*/


.subvideo{
	height: 40px;
	background: @red;
	font: 700 12px/40px 'Noto Sans', sans-serif;
	color: white;
	text-transform: uppercase;
	display: block;
	cursor: pointer;
}

/* Diverse */

#sadface{
	color: white;
	display: block;
	font-size: 160px;
	line-height: 250px	
}


/* SWIPE - START */

.swipe{
	background-image: url(//static.musik.dk/upload/mobile/swipeicon.svgz);
	background-repeat: no-repeat;
	background-size: 19px;
	padding-right: 16px;
	background-position: 2px;
	opacity: .4
}


/* SWIPE - END */


/* NOTIFICATION BOXES - START */

.notifygrey{
	background: @sidebargrey;
	.roundedcorners
}

.notifygrey h4,.notifygrey h5{
	color: @blackblack;
	line-height: 50px;
	font-size: 12px;
	font-weight: 300
}

.notifygrey h5:after{
	content: '\e75e';
	font-family: 'entypo';
	speak:none;
	padding-left: 8px
}

.notifygrey h4 span,.notifygrey h5 span{
	font-weight: 700;
	float: none;
	color: @blackblack;
}

/* NOTIFICATION BOXES - END */


/* STATISTICS - START */

.statistic{
	width: 45%;
	margin-right: 1%;
	display: inline-block;
}

.statistic:nth-child(2n){
	margin-right: 0;
	float: right;
}

.statistic h4{
	font-size: 40px;
	color:@black;
	text-align: center;
	display: block;

}

.statistic h6{
	font-size: 12px;
	color:@lighterblack;
	text-align: center;
	display: block;
}

/* STATISTICS - END */


.infotext{
	font-size: 12px;
	font-style: italic;
	color:#888
}



/* 
 *  Owl Carousel CSS3 Transitions - START
 *  v2.0 BETA
 */
 
 
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel p{
	font-size: 11px
}

.owl-carousel #cnews h2{
	padding: 5px;
	font-size: 12px
}


.owl-height {
  -webkit-transition: height 150ms ease-in-out;
  -moz-transition: height 150ms ease-in-out;
  transition: height 150ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  display: none !important
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}




/* 
 *  Owl Carousel CSS3 Transitions - END
 *  v2.0 BETA
 */
 
 
 
 /* Custom css - Loader, etc. */
 
 /* LOADER */
.loading {
  border-bottom: 6px solid rgba(0, 0, 0, 0.1);
  border-left: 6px solid rgba(0, 0, 0, 0.1);
  border-right: 6px solid rgba(0, 0, 0, 0.1);
  border-top: 6px solid rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  animation: rot .6s infinite linear;
  -webkit-animation: rot .6s infinite linear;
  margin: 0 auto 15px auto;
  
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}


#supmain {
position: relative;
}

#supmain .tc {
height:60px !important;
padding-top:18px;
}
#mdkMainWrap{
	height:100%;
}

#layout{
	height:100%;
}

.artistChannelDiv{
	height:100%;
}

.standardLayoutDiv{
	height:100%;
}

