<div id="swipe" class="scl">
    <div class="header">    
	<a href="#" class="goback" id="menubtn-back"></a>	  
	  <img id="hlogo" src="//static.musik.dk/upload/mobile/logo.svgz" alt="MusikDK logo">	
    </div>

	<section class="cw errorDiv"></section>

</div>