
<div class="nw">
	<nav id="fmenu">
		<ul>
			<!-- ADD STUFF TO GENERAL PLATFORM -->
			<li class="admin-panel">
				<a href="#">
					<h6>Opret</h6>
					<span class="caret" style="vertical-align:middle">&#9650;</span>
				</a>
				<ul>
					<li>
						<a class="next" href="#">Konkurrence</a>
						<ul>
							<li>
								<a class="createContest">Simpel</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>   
		</ul>  
		<ul class="floatright">
			<li>
				<a href="https://musikdk.zendesk.com/hc/da/requests/new" target="_blank">FAQ</a>
			</li>
			<li>
				<a href="https://musikdk.zendesk.com/hc/da" target="_blank">Support</a>
			</li>
			<li>
				<a href="terms">Brugervilkår</a>
			</li>
		</ul>
	</nav>
</div>





<!-- - CONTEST POPUP - -->
<div id="simplecontestwiz" class="white-popup mfp-hide">
	<form id="contestForm" method="post" >
		<section id="gs67g">
			<div class="adminhtop blue">
				<p>Opret simpel konkurrence</p>
			</div>
			
			<!-- SET ARTIST AND CONNECT CORRECT ARTWORK -->
			<header class="h">
				<span class="font-entypo icon-star hicon" aria-hidden="true"></span>Step 1 - Vælg artist
			</header>			
			<div class="ip">
				<div class="adinputfield">
					<input type="text" placeholder="Artist name" autocomplete="on" autofocus="true" id="contestArtistId" required></input>
					<input type="hidden" value="" name="artist_id">
				</div>		
			</div>
			
			<!-- COMPETITION INFO -->
			<header class="h">
				<span class="font-entypo icon-pencil hicon" aria-hidden="true"></span>Step 2 - Info
			</header>			
			<div class="ip">
			
				<div class="aw05">
					<h3>Titel:</h3>
				</div>
				<div class="adinputfield">
					<input type="text" placeholder="Keep it as short as possible" id="contestTitle" name="title" required></input>
				</div>    
				
				
				<div class="aw05">
					<h3>Beskrivelse:</h3>
				</div>
				<div class="adinputfield">
					<textarea rows="4" style="margin-bottom:0" id="contestDesc" name="description" required></textarea>
				</div>      
							  
				<div class="aw05">
					<h3>Spørgsmål:</h3>
				</div>
				<div class="adinputfield">
					<textarea rows="4" style="margin-bottom:0" id="contestQuestion" name="question" required></textarea>
				</div>          
						
				<div class="aw05">
					<h3>Svar:</h3>
					<span> (check for rigtige svar)</span>
				</div>
				<div id="answerDiv">
					<span class="fe i-plus adaddnext" aria-hidden="true"></span>		
					<div class="adinputfield83">
						<div class="checkaccept cacc1">
							<label class="option">
								<input type="radio" id="contestAnswerChk_1" name="correct" required>
									<span class="checkbox"></span>
							</label>
						</div>
						<input type="text" id="contestAnswer_1" placeholder="Write possible answer" required></input>					
					</div>			
				</div>
				  
			</div>	  
			  
			<!-- 	SET TIME (PLEASE CHECK SERVER FOR CORRECT TIME AND DATES!)  -->
			<header class="h">
				<span class="font-entypo icon-calendar hicon" aria-hidden="true"></span>Step 3 - Deadline
			</header>			
			<div class="ip">
				<div class="aw05 pc50">
					<h3>Sæt startdato</h3>
			
					<div class="adinputfield">
						<input class="livedate datepicker" type="text" placeholder="Startdato" id="setdate" name="endDate" required/>
					</div>   
				</div> 
					 
				<div class="aw05 pc50">
					<h3>Sæt sluttidspunkt</h3> 
					<div class="adinputfield">
						<input class="livedate datepicker" type="text" placeholder="Tidspunkt" id="settime" name="endTime"/>
					</div>   
				</div>	      
			</div>
								 
			<!-- 	Toggle hidden section     -->
			<div class="ip3" id="apd">
				<div class="wiztog">
					<p id="showpubtime" href="#">Add publication date</p>
				</div>       
			</div>			
								
			<!-- hidden" section -->
			<div id="pubtime" style="display:none">
					
				<div class="ip">
			
					<div class="wookmark-placeholder tc adsep03">
						<p>If there's no publication date,<br>the competition will start right away.<p>
					</div>

					<div class="aw05 pc50"><h3>Set publication date</h3>
				
						<div class="adinputfield" style="margin-right:5px">
							<input class="livedate" type="text" placeholder="Startdato" id="setdate" name="publicationDate" />
						</div>   
					</div> 
						 
					<div class="aw05 pc50">
						<h3>Set publication time</h3> 
						<div class="adinputfield">
							<input class="livedate" type="text" placeholder="Tidspunkt" id="settime" name="publicationTime"/>
						</div>   
					</div>
				</div>	  
						  
			</div>
								 
			<!-- 	SET NUMBER OF AUTO-EMAILS TO WINNERS -->
			<header class="h">
				<span class="font-entypo icon-mail hicon" aria-hidden="true"></span>Step 4 - Vindere
			</header>			
			<div class="ip2">
				<p class="infotext">Antallet af vindere der skal kontaktes.</p>
				<input type="number" name="winners" min="1" max="999" name="winners" required>	         
			</div>
				   
			<!-- 	Toggle hidden section     -->
			<div class="ip3" id="etxt">
				<div class="wiztog">
					<p id="showemailtext" href="#">Ændre emailtext</p>
				</div>
			</div>			
												
			<!-- 	hidden" section -->
			<div id="emailtext" style="display:none">
				<div class="ip">
					<div class="wookmark-placeholder tc adsep03">
						<p>The sender will be you as an admin<p>
					</div>
					<textarea rows="8" name="prize">Ambitioni dedisse scripsisse iudicaretur. Gallia est omnis divisa in partes tres, quarum. Fictum,  deserunt mollit anim laborum astutumque! Excepteur sint obcaecat cupiditat non proident culpa.</textarea>
				</div>
			</div>

			<div class="ip">
				<button type="submit" class="btnblue btncontest">Opret konkurrence</button>
			</div>
			
		</section> 
	</form>	
</div>

<!-- - POLL POPUP - -->
<div id="pollwiz" class="white-popup mfp-hide">
	<form id="pollForm" method="post" >
		<section id="gs67g">
			<div class="adminhtop blue">
				<p>Opret afstemning</p>
			</div>
			
			<!-- SET ARTIST AND CONNECT CORRECT ARTWORK -->
			<header class="h">
				<span class="font-entypo icon-star hicon" aria-hidden="true"></span>Step 1 - Vælg artist
			</header>			
			<div class="ip">
				<div class="adinputfield">
					<input type="text" placeholder="Artist name" autocomplete="on" autofocus="true" id="pollArtistId" required></input>
					<input type="hidden" value="" name="artist_id">
				</div>		
			</div>
			
			<!-- POLL INFO -->
			<header class="h">
				<span class="font-entypo icon-pencil hicon" aria-hidden="true"></span>Step 2 - Info
			</header>			
			<div class="ip">
			
				<div class="aw05">
					<h3>Titel:</h3>
				</div>
				<div class="adinputfield">
					<input type="text" placeholder="Keep it as short as possible" id="pollTitle" name="polltitle" required></input>
				</div>    
				
				
				<div class="aw05">
					<h3>Beskrivelse:</h3>
				</div>
				<div class="adinputfield">
					<textarea rows="4" style="margin-bottom:0" id="pollDesc" name="polldescription" required></textarea>
				</div>      
							      
						
				<div class="aw05">
					<h3>Afstemningsmuligheder:</h3>
				</div>
				<div id="pollDiv">
					<span class="fe i-plus addpoll adaddnext" aria-hidden="true"></span>		
					<div class="adinputfield83">
						<input type="text" id="pollStr_1" placeholder="Write poll string here" required></input>					
					</div>			
				</div>
				  
			</div>	  
			  
			<!-- 	SET TIME (PLEASE CHECK SERVER FOR CORRECT TIME AND DATES!)  -->
			<header class="h">
				<span class="font-entypo icon-calendar hicon" aria-hidden="true"></span>Step 3 - Deadline
			</header>			
			<div class="ip">
				<div class="aw05 pc50">
					<h3>Sæt startdato</h3>
			
					<div class="adinputfield">
						<input class="livedate datepicker" type="text" placeholder="Startdato" id="setdate" name="endDate" required/>
					</div>   
				</div> 
					 
				<div class="aw05 pc50">
					<h3>Sæt sluttidspunkt</h3> 
					<div class="adinputfield">
						<input class="livedate datepicker" type="text" placeholder="Tidspunkt" id="settime" name="endTime"/>
					</div>   
				</div>	      
			</div>
								 
			<!-- 	Toggle hidden section     -->
			<div class="ip3" id="apd">
				<div class="wiztog">
					<p id="showpubtime" href="#">Add publication date</p>
				</div>       
			</div>			
						

			<div class="ip">
				<button type="submit" class="btnblue">Opret afstemning</button>
			</div>
			
		</section> 
	</form>	
</div>