<div id="sr" class="sm scl">
    <ul>
      <li id="acselected"><a href="/{{slug}}">Oversigt</a></li>
	  {{#if sections.videos}}
      <li><a href="/{{slug}}/videoer">Videoer</a></li>
	  {{/if}}
	  {{#if sections.releases}}
      <li><a href="/{{slug}}/udgivelser">Udgivelser</a></li>
	  {{/if}}
      <li><a href="/{{slug}}/koncerter">Koncerter</a></li>
	  {{#if sections.merchandise}}
      <li><a href="/{{slug}}/merchandise">Merchandise</a></li>
	  {{/if}}
	  {{#if sections.derpcon}}
		<li>
			<a href="/{{slug}}/derpcon">DerpCon</a>
		</li>
		{{/if}}	
    </ul>
  </div>
  <!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  
  
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>

<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="header headerwhite">
      <a id="menubtn-left"></a><a id="menubtn-right"></a>     
	  <img id="hlogo" src="//static.musik.dk/upload/mobile/logodark.svgz" alt="MusikDK logo">	
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->

<!-- BEGIN POLL MOBILE MARKUP -->

{{#if polls}}

	{{#each polls}}	
	
	<!-- DYNAMIC MARKUP -->
		<!-- img data-src="http://www.cphrecmedia.dk/musikdk/mobile/demobilleder/tdbanner.jpg" src="demobilleder/placeholders/square.png" alt="ARTISTNAME">
		<div id="cambgpoll">  
			<div id="campaign"> 	
			
					<img data-src="{{../images.standard}}" src="demobilleder/placeholders/square.png" alt="ARTISTNAME">
					<script>$(function(){$("img").unveil(600);});</script> 
	
					<div id="campaignpoll"></div>

				<div id="camspotify">
					<img src="https://static.musik.dk/assets/css/services/spotify.png" align="Spotify Logo">
				</div>	    
			</div> 

			<div id="camrel" class="pollcenter">
				

			

						   
			<ul class="polllist">
							
							
						<h2>{{this.title}}</h2>	
						<p><br>{{this.description}}</p>	
							
							
						<div class="video-container" style="margin-left:-60px;margin-bottom:25px">
							<iframe style="border:none" height="720" src="//www.youtube.com/embed/m-PqQNdh-Dk?autohide=1&autoplay=0&iv_load_policy=3&showinfo=0&modestbranding=1&vq=hd480" allowfullscreen></iframe>
						</div>
							
						<h2>Giv din stemme:</h2><br><br>
						{{#each pollItems}}
						<li>
							<div class="pollw">
								<div class="polltitle">{{pollTitle}}</div>
									{{#if voted}}
										<div class="pollactive" data-poll-item-id="{{pollItemId}}">
									{{else}}
											<div class="poll" data-poll-item-id="{{pollItemId}}">
									{{/if}}
											<div id="progresspoll" data-procentage="{{percentage}}"></div>
											</div>
										</div>
						</li>
						{{/each}}
							
						
			</ul>
			</div>
		 </div -->
		 
		 <!-- END OF DYNAMIC MARKUP -->
		 
		 <!-- TINA DICKOW SPECIFIC POLL -->
		 <img data-src="https://static.musik.dk/upload/polls/tdbannermobil.jpg" src="demobilleder/placeholders/square.png" alt="ARTISTNAME">
		
<div id="cambgpoll">  
 <div id="campaign"> 
	
	<!-- !-- Add Ken Burns effect --> 
	<!-- <div id="burnsbox"><  -->
		<img data-src="https://static.musik.dk/upload/files/various_temp/fixer.png" src="demobilleder/placeholders/header.png" alt="ARTISTNAME">
	<!-- </div> -->

	<!-- COMP ID -->
	<div id="campaignpoll"></div>



<div id="camspotify">
	<img src="http://www.cphrecmedia.dk/musikdk/mobile/css/services/spotify.svgz" align="Spotify Logo">
</div>	

 </div> 

	<div id="camrel" class="pollcenter">
		
<!-- 	<img id="camlogo" src="css/polls.svgz" alt="MusikDK Konkurrence-logo"> -->
			
	
<!-- 			POLL OPTIONS	    -->
				   
				   
	<ul class="polllist">
					
					
<!-- 				<h2>DINE OG MINE DANSKE FAVORITTER:</h2>	 -->
				
				<p class="italic">Jeg har tænkt mig at lave en lille julegave til jer. Jeg går i studiet med ikke meget andet end min guitar og indspiller håndfuld af de danske sange, jeg igennem tiderne har lavet covers af. <br><br>Jeg har listet 10 sange her, og det er så op til jer, hvilke 5 der skal indspilles. Så Like bare løs, alt det du vil. Jeg glæder mig til at se hvad du vælger!<br><br>Kærlig hilsen Tina Dickow.</p><br>
					
					
					
<div class="ipp" style="background:rgba(0,0,0,.2);border-radius:3px;margin-left:-60px;margin-bottom: 50px">
				
				<p style="padding-left: 60px"><span class="bold" style="line-height: 15px;">Sådan gør du</span><br>
			    	
	
					<p style="font-size:10px;padding-left: 60px">Du kan stemme på fem numre og afgiver din stemme ved trykke på thumbs-up ikonerne. Når den femte stemme er afgivet låser vi dine valg. Afstemningen er åben til og med d. 16. oktober. </p>
	 
					<p style="font-size:10px;padding-left: 60px">Alle der deltager i afstemningen bliver tilmeldt Tina Dickows nyhedsbrev, så vi kan kontakte dig via email med updates og nyheder om bl.a. udgivelsen af ”En håndfuld danske”.
		Få opdateringen om afstemningen på Tinas <a style="color:white;text-decoration:underline" href="http://www.facebook.com/tinadico">Facebook</a> og <a style="color:white;text-decoration:underline" href="http://instagram.com/tinadico"> Instagram</a>.</p>
		<p style="font-size:10px; padding-left: 60px">Du kan lytte til alle sangene under selve afstemningen.</p>
		
	 <p style="font-size:10px; padding-left: 60px"> <a style="color:white;text-decoration:underline" href="https://musik.dk/terms"> Generelle vilkår og persondatapolitik</a>.</p> 


</div>

					
					
					
					{{#each pollItems}}
						<li>
							<div class="pollw">
								<div class="polltitle">{{pollTitle}}</div>
									{{#if voted}}
										<div class="pollactive" data-poll-item-id="{{pollItemId}}">
									{{else}}
											<div class="poll" data-poll-item-id="{{pollItemId}}">
									{{/if}}
											<div id="progresspoll" data-procentage="{{percentage}}"></div>
											</div>
										</div>
						</li>
						{{/each}}

					
					<!-- li>
						<div class="pollw">
						<a href="#"><div class="polltitle">Kaptajn Clutch Og Hans Crew (CV Jørgensen)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:63.45%" data-procentage="63.45%"></div>
							</div></div>
					</li>
					
					
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Fugleflugt (Pia Raug)</div></a>
							<div class="pollactive">
								<div id="progresspoll" style="width:12.86%" data-procentage="12.86%"></div>
							</div></div>
					</li>
					
					
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Ensom (Medina)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:21.42%" data-procentage="21.42%"></div>
							</div></div>
					</li>
					
						<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Randers Station (TV-2)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:12.45%" data-procentage="12.45%"></div>
							</div></div>
					</li>
					
					
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Malaga (Thomas Helmig)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:12.10%" data-procentage="12.10%"></div>
							</div></div>
					</li>
					
					
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Helt Alene (Suspekt)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:21.38%" data-procentage="21.38%"></div>
							</div></div>
					</li>
					
						<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Midt Om Natten (Kim Larsen)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:33.98%" data-procentage="33.98%"></div>
							</div></div>
					</li>
					
					
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">København (Ulige Numre)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:12.46%" data-procentage="12.46%"></div>
							</div></div>
					</li>
					
					
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">En Nat Bliver Det Sommer (Love Shop) </div></a>
							<div class="poll">
								<div id="progresspoll" style="width:1.42%" data-procentage="1.42%"></div>
							</div></div>
					</li>
					<li>
						<div class="pollw">
							<a href="#"><div class="polltitle">Du Drømmer Om Et Andet Sted (Mikael Simpson)</div></a>
							<div class="poll">
								<div id="progresspoll" style="width:8.24%" data-procentage="8.24%"></div>
							</div></div>
					</li -->
					
					</ul><!-- 			POLL OPTIONS	    -->
	
	
		
		
	
  </div>
  
  
  <header class="hblack"><span class="font-entypo icon-play hicon" aria-hidden="true"></span>De nominerede</header>
    
    <div id="pollembedscroll">
     	<iframe src="https://embed.spotify.com/?uri=spotify:user:tinadickow:playlist:1I6zdSKKScmsIOC3FnPjvg&theme=white" width="250" height="400" frameborder="0" allowtransparency="true"></iframe> 
    </div>

 </div>
  <script>$('img').unveil(100);</script>
 <!-- END OF TINA DICKOW SPECIFIC POLL -->
	{{/each}}
{{else}}

<!-- END OF POLL MOBILE MARKUP -->

<!-- Artist header -->
<header class="feat"> 
<figure class="ach"> 
<!-- !-- Add Ken Burns effect --> 
<!-- div id="burnsbox" -->
	{{#if images.cover}}
			<img width="60" src="{{images.standard}}" alt="{{name}}" />
			{{else}}
			<img src="/demobilleder/hlowq.jpg" />
	{{/if}}
<!-- /div -->
	
	<figcaption class="meta">

<!-- 	artistname -->
		<h1>{{name}}</h1>
		
<!-- 	number of followers -->
		<!-- h3>1234</h3 -->		
	</figcaption>
	
</figure>  
		
</header>
{{/if}}
<!-- End off -->

{{#if campaignLinks}}
<div class="ip">    

<!-- 	If not logged in or no favorite -->
		
		<a class="serviceLink">
			<button style="width:100%" class="btnservice">Lyt på musiktjeneste</button>
		</a>

</div>

{{/if}}


<div id="socialMediaDiv">
<!-- SOCIAL UPDATES	 -->
	<header class="h"><span class="font-entypo icon-layout hicon" aria-hidden="true"></span>Sociale opdateringer
		<span class="swipe fr">&nbsp;</span>
	</header>	
	<div class="ip">
		<div id="supmain" class="social"></div>	
	</div>	
<!-- SOCIAL UPDATES	END -->
</div>

<div class="clear"></div>

<div id="rssDiv">
<!-- RSS NEWS -->
<header class="h"><span class="font-entypo icon-newspaper hicon" aria-hidden="true"></span>Nyheder	
		<span class="swipe fr">&nbsp;</span>
</header>
	<div class="ip">
		<div class="artistNews"></div>	
	</div>
<!-- RSS NEWS END-->
</div>

<div class="clear"></div>

<!-- VIDEOS START -->
{{#if videos}}
			<!-- VIDEOS -->
			<header class="h"><span class="font-entypo icon-video hicon" aria-hidden="true"></span>Videoer
				<span class="swipe fr">&nbsp;</span>
			</header>
						<div class="owl-carousel" id="cvid">							
								{{#each videos}}
								<ul class="clist">
									<li>
									  <a href="./{{../slug}}/videoer?w={{ytid}}" data-ytid="{{ytid}}">
										<img data-src="https://i1.ytimg.com/vi/{{ytid}}/hqdefault.jpg" src="demobilleder/placeholders/video.png" alt="VIDEO-TITLE">
											<span>
											  <h2>{{title}}</h2>
											  <h3>{{../name}}</h3>
											</span>
									  </a>
									</li>
								</ul>
								{{/each}}								
						</div>
			<div class="ip3">
				<a href="../{{slug}}/videoer"> <button class="btnnext">Se alle videoer</button></a>
			</div>
	

			<!-- VIDEOS END -->						
{{/if}}

<!-- CONCERTS -->
{{#if concerts}}
	<header class="h"><span class="font-entypo icon-ticket hicon" aria-hidden="true"></span>Koncerter
			<span class="swipe fr">&nbsp;</span>

	</header>
	<div class="ip2">
		<div class="notifygrey ip tc">
			<div class="lexplain">				
				<p id="expgreen">Stadig billetter / manglende info</p>
				<p id="expyellow">Få</p>
				<p id="expred">Udsolgt</p>				
			</div>			
		</div>
	</div>
	<div class="owl-carousel" id="ccon">
		{{#each concerts}}
		<div>
			<ul class="llist">
				<li>
					<div class="lldate">
						<h5>{{dateFormatMonth date}}</h5>
						<h6>{{dateFormatDay date}}</h6>
					</div>
				<article>
					<h2>{{venue_name}}</h2>
					<h3>{{venue_city}}</h3>
				</article>
				{{#equal delivery_status "Normal"}}
						<a href="{{deeplink}}" target="_blank"><div class="tgreen"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Few"}}
						<a href="{{deeplink}}" target="_blank"><div class="tyellow"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Sold out"}}
						<a href="{{deeplink}}" target="_blank"><div class="tred"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Waiting list"}}
						<a href="{{deeplink}}" target="_blank"><div class="tred"><h3>Køb</h3></div></a>
						{{/equal}}	
				</li>
			</ul>
		</div>
		{{/each}}
	</div>
	<div class="ip3">
		<a href="../{{slug}}/koncerter"> <button class="btnnext">Se alle koncertdatoer</button></a>
	</div>
{{/if}}
<!-- CONCERTS END -->


<!-- BIOGRAPHY -->
{{#if bio}}

<header class="h"><span class="font-entypo icon-book hicon" aria-hidden="true"></span>Biografi</header>	
	<div class="acbio-slim acbioshadow" id="acbio">
		<p>{{bio}}</p>	
		<br><br><p class="infotext fr">Tekst fra Wikipedia</p>	
		<!--br><h3>Medlemmer</h3>
		<ul class="aazlist">
			<li><p>Simon Kvamm</p></li>
			<li><p>Peter Sommer</p></li>
		
		</ul -->
	</div>
{{/if}}
<!-- BIOGRAHY ENDS -->


<!-- RANKING -->

<!-- header class="h"><span class="font-entypo icon-trophy hicon" aria-hidden="true"></span>Rangering på Musik.dk</header>

<div class="ip2">

<article class="c statistic">
<section class="ip">
<h4>#72<span class="hcaretbig greentext">&#9650;</span></h4>
<h6>kun danske artister</h6>
</section>
</article>

<article class="c statistic">
<section class="ip">
<h4>#523<span class="hcaretbig redtext">&#9660;</span></h4>
<h6>Alle artister</h6>
</section>
</article>
</div -->

<!-- RANKING ENDS -->


<!-- FOLLOWERS -->
<!-- header class="h"><span class="font-entypo icon-users hicon" aria-hidden="true"></span>Nye følgere</header>
<div class="ip">
<div class="acuser10">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/Skyhartman/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/snowshade/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/tomas_janousek/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/SlaapMe/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/joelhelin/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/dahparra/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/sokaniwaal/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/nateschulte/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/cadikkara/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/Shriiiiimp/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/andrewabogado/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/ninjad3m0/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/uxpiper/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/caspergrl/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/eitarafa/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/shafi_ps/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/renbyrd/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/SiskaFlaurensia/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/_joshnh/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
	<img data-src="https://s3.amazonaws.com/uifaces/faces/twitter/tiagocamargo/128.jpg" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="FIRSTNAME AND SURNAME">
</div>

</div -->
<!-- FOLLOWERS END -->


<!-- SOCIAL LINKS -->
<header class="h"><span class="font-entypo icon-export hicon" aria-hidden="true"></span>Links</header>
<div class="ip">
<table style="width: 100%;">
    <tr class="alink">
        {{#if links.facebook}}
			<td><a href="{{links.facebook}}" target="_blank"><span class="fblink roundedcorners" style="display:block;"></span></a></td>
		{{/if}}
		{{#if links.twitter}}
			<td><a href="{{links.twitter}}" target="_blank"><span class="twlink roundedcorners" style="display:block;"></span></a></td>
		{{/if}}
		{{#if links.instagram}}
			<td><a href="{{links.instagram}}" target="_blank"><span class="iglink roundedcorners" style="display:block;"></span></a></td>
		{{/if}}
		{{#if links.soundcloud}}
			<td><a href="{{links.souncloud}}" target="_blank"><span class="sclink roundedcorners" style="display:block;"></span></a></td>
		{{/if}}
    </tr>	
</table>
</div>
<!-- SOCIAL LINKS END -->
<!-- MUSIC SERVICE MODAL -->				
								
<div id="musicservice" class="compModal" style="z-index:-9999; display: none;">
	<div class="modal-inner">
		<div class="modal-content">
		<div style="padding:50px;">
						<a class="modal-close" title="Luk"></a>					
					</div>
		{{#specificServices campaignLinks "service" "Fona"}}
					{{#equal service 'Fona'}}
				<div class="ip2">
					<a href="{{link}}" target="_blank"><button class="btnfona iebgfix h100">&nbsp;</button></a>
				</div>
					{{/equal}}
					{{#equal service 'Imusic'}}
					<div class="ip2">
						<a href="{{link}}" target="_blank"><button class="btnimusic iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
				</div>
			{{/specificServices}}
							
				{{#each campaignLinks}}
					{{#equal service "Spotify"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btnspotify iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "ITunes"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btnitunes iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "Deezer"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btndeezer iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "WiMP"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btnwimp iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "TDC Play"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btntdcplay iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "YouMusic"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btnyoumusic iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "Rdio"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btnrdio iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}
					{{#equal service "Telmore Musik"}}
					<div class="ip2">	
						<a href="{{link}}" target="_blank"><button class="btntelmore iebgfix h100">&nbsp;</button></a>
					</div>
					{{/equal}}	
				{{/each}}
				</div>	
		</div>
	</div>
</div>


<!-- END OF MUSIC SERVICE MODAL -->

<!-- END OF MOBILE MARKUP !!!!!!!!!!!!!! -->
