<div id="sr" class="sm scl">
    <ul>
      <li><a href="/{{slug}}">Oversigt</a></li>
	  {{#if sections.videos}}
      <li><a href="/{{slug}}/videoer">Videoer</a></li>
	  {{/if}}
	  {{#if sections.releases}}
      <li id="acselected"><a href="/{{slug}}/udgivelser">Udgivelser</a></li>
	  {{/if}}
      <li><a href="/{{slug}}/koncerter">Koncerter</a></li>
	  {{#if sections.merchandise}}
      <li><a href="/{{slug}}/merchandise">Merchandise</a></li>
	  {{/if}}
	  {{#if sections.derpcon}}
		<li>
			<a href="/{{slug}}/derpcon">DerpCon</a>
		</li>
		{{/if}}	
    </ul>
  </div>
  <!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  
  
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>

<div id="sl" class="s scl"> 
	<div class="loginMenuPlaceholder"></div>
	<div class="navMenu"></div>
</div>

<div id="swipe" class="scl">
    <!-- <div id="swipeme"></div> -->
    <div class="headerwhite">
      <a id="menubtn-left"></a>
      <a id="menubtn-right"></a>
      
      
      
       <h1></h1>

    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->
<header class="h">Albums</header>    

	<div class="ip">
	<!-- TINA DICKOW NEWEST ALBUM -->
		<div class="tinaDickowNewestAlbum"></div>
		{{#each releases}}  
			<section class="crel">
				{{#if cover}}
				<img data-src="{{cover}}" src="demobilleder/placeholders/square.png" alt="VIDEOTITLE">
				{{else}}
				<img src="http://dev.denmark.umgwebservices.com/musikdk/demobilleder/noimage.jpg" />
				{{/if}}
			 
				 <h2>{{title}} {{#if releaseDate}}<span>({{trimYear releaseDate}}){{else}}({{trimYear digitalReleaseDate}}){{/if}}</span></h2>
				 <div class="ip10">
					<ol>
					{{#each tracks}}
						<li>{{title}}<span>{{trimTrack lenght}}</span></li>
					{{/each}}
					</ol>
				<!-- div class="ip">    
					<a href=""  title="Vælg service"><button style="width:50%;font-size:50%;" class="btnservice">Lyt på musiktjeneste</button></a>	
				</div -->
					<!--
							<div>
								<button class="btnblue ">Køb på CD</button>
								<button class="btnblue ">Køb vinyl</button>
							</div>
					-->
				 </div>
			</section>
		{{/each}}
	</div>	
</div>