
	<div id="sr" class="sm scl">
    <ul>
      <li><a href="./">Oversigt</a></li>
	  {{#if sections.videos}}
      <li id="acselected"><a href="./videoer">Videoer</a></li>
	  {{/if}}
	  {{#if sections.releases}}
      <li><a href="./udgivelser">Udgivelser</a></li>
	  {{/if}}
	  {{#if sections.concerts}}
      <li><a href="./koncerter">Koncerter</a></li>
	  {{/if}}
	  {{#if sections.merchandise}}
      <li><a href="./{{slug}}/merchandise">Merchandise</a></li>
	  {{/if}}
    </ul>
  </div>
  <!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  
  
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>

<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="header headerwhite">
      <a id="menubtn-left"></a><a id="menubtn-right"></a>     
	  <img id="hlogo" src="//static.musik.dk/upload/mobile/logodark.svgz" alt="MusikDK logo">	
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>  
	
<header class="h"><span class="font-entypo icon-video hicon" aria-hidden="true"></span>VIDEOER</header>
<!-- VIDEO-LIST -->
		<ul class="clist">
		{{#each videos}}
			<li>
			<a href="./videoer?w={{ytid}}" data-ytid="{{ytid}}" >
				<img data-src="https://i1.ytimg.com/vi/{{ytid}}/hqdefault.jpg" src="ddemobilleder/placeholders/video.png" alt="VIDEO-TITLE"></a>
					<span>
					  <h2>{{title}}</h2>
					  <h3>{{../name}}</h3>
					</span>
			</a>
			</li>
		{{/each}}	
		</ul>
	</div>