
<div id="sr" class="sm scl">
    <ul>
      <li><a href="/{{slug}}">Oversigt</a></li>
	  {{#if sections.videos}}
      <li><a href="/{{slug}}/videoer">Videoer</a></li>
	  {{/if}}
	  {{#if sections.releases}}
      <li><a href="/{{slug}}/udgivelser">Udgivelser</a></li>
	  {{/if}}
      <li><a href="/{{slug}}/koncerter">Koncerter</a></li>
	  {{#if sections.merchandise}}
      <li id="acselected"><a href="/{{slug}}/merchandise">Merchandise</a></li>
	  {{/if}}
	  {{#if sections.derpcon}}
		<li>
			<a href="/{{slug}}/derpcon">DerpCon</a>
		</li>
		{{/if}}	
    </ul>
  </div>
  <!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  
  
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>

<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="headerwhite">
      <a id="menubtn-left"></a><a id="menubtn-right"></a>     
	  <h1></h1>
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->


<!-- div class="ip">
   	<a href="artistchannel-merchandise-simple.php">	
		<figure class="notifygrey tc">
			<h5>Vis alle samlet</h5>
		</figure>
	</a>
</div -->


{{#if merchandise}}
<header class="h"><span class="font-entypo icon-cart hicon" aria-hidden="true"></span>
Merchandise
</header>

<div class="ip">     
	<div class="owl-carousel" id="1">	
		{{#each merchandise}}
			<div>
				<ul class="merchlist">
					<li>
						<a href="{{deeplink}}" target="_blank">
						<img data-src="{{picture_path}}" src="demobilleder/placeholders/square.png" alt="f">
						<h2>{{artist_name}} ({{name}})</h2>
						<span>{{price_local_formatted}} kr</span>
						 <h4>{{shop_name}}</h4>
						</a>
					</li>
				</ul>
			</div>
		{{/each}}
	</div>
</div>
{{/if}}





<!-- header class="h"><span class="font-entypo icon-cart hicon" aria-hidden="true"></span>Plakater</header>


<div class="ip">    
 
		<div class="owl-carousel" id="2">
		
		
		
			<div>
				<ul class="merchlist">
					<li>
					 <a href="#">
				<img data-src="http://cache2.allpostersimages.com/p/LRG/71/7159/4UQM100Z/plakater/lady-gaga-chair.jpg" src="demobilleder/placeholders/square.png" alt="PRODUCT-NAME">
					  <h2>Applause Plakater</h2>
					  <span>200 kr</span>
					  <h4>Gaffa.dk</h4>
			  </a>
					</li>
				</ul>
			</div>
		
		
		
			<div>
				<ul class="merchlist">
					<li>
					  <a href="#">
						<img data-src="http://cache2.allpostersimages.com/p/LRG/58/5887/LSHPG00Z/plakater/lady-gaga-judas.jpg" src="demobilleder/placeholders/square.png" alt="PRODUCT-NAME">
							  <h2>Applause Plakater</h2>
							  <span>200 kr</span>
							  <h4>Gaffa.dk</h4>
					  </a>
					</li>
				</ul>
			</div>
		
		
		
			<div>
				<ul class="merchlist">
					<li>
					  <a href="#">
							 <img data-src="http://static.musictoday.com/store/bands/93/product_medium/BGAPLG07.JPG" src="demobilleder/placeholders/square.png" alt="PRODUCT-NAME">
						  <h2>Applause Plakater</h2>
						  <span>200 kr</span>
						  <h4>Gaffa.dk</h4>
					  </a>
					</li>
				</ul>
			</div>
				
		
		</div>
 
</div>

<!-- Owl coursel -->
<!-- script>
$('#1').owlCarousel({
    loop:true,
    responsiveClass:true,
    responsive:{
        0:{
            items:1,
            nav:true,
	        autoHeight:true,
            loop:true /* maybe we should remove this? */
        }
        
    }
})
</script -->

<!-- 	Fix Owl coursel issue -->






<!-- END OF MOBILE MARKUP -->







<!-- ADD ALL CATEGORIES IN SEPERATE CAROUSELS -->



	
