{{#each this}}
<div class="ip">		
			<article class="acc acnews">
				<img data-src="{{source.logo}}" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="  alt="{{title}}">
				<h4>{{source.name}}</h4>
				<h2>{{title}}</h2>
				<br />
						<p>
							<time class="acnewstime">
								<span>{{dateFromNow pubDate}}</span>
							</time> 
						</p>	
				<span class="font-entypo icon-export cicon pa" aria-hidden="true"></span>
			</article>		
		</div> 
{{/each}}
