<!-- Slider start -->

	{{#each this}}			
				<article class="acc">	
				<a>						
				{{#if image}}					
				<img data-src="{{image}}" src="assets/demobilleder/placeholders/square.png" alt="IMAGETITLE" />
				{{else}}
				<img data-src="#no" src="assets/demobilleder/placeholders/square.png" alt="empty" />
				{{/if}}
					<div class="ipp">			  		
						<p>{{{content}}}</p>
						<br />
						<p>
							<time class="acnewstime">
								<span>{{dateFromNow pubDate}}</span>
							</time> 
						</p>						
					</div>						
				</a>
				</article>
	{{/each}}
