

<div id="sr" class="sm scl">
    <ul>
      <li><a href="/{{slug}}">Oversigt</a></li>
	  {{#if sections.videos}}
      <li><a href="/{{slug}}/videoer">Videoer</a></li>
	  {{/if}}
	  {{#if sections.releases}}
      <li><a href="/{{slug}}/udgivelser">Udgivelser</a></li>
	  {{/if}}
      <li id="acselected"><a href="/{{slug}}/koncerter">Koncerter</a></li>
	  {{#if sections.merchandise}}
      <li><a href="/{{slug}}/merchandise">Merchandise</a></li>
	  {{/if}}
	  {{#if sections.derpcon}}
		<li>
			<a href="/{{slug}}/derpcon">DerpCon</a>
		</li>
		{{/if}}	
    </ul>
  </div>
  <!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  
  
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>

<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="header headerwhite">
      <a id="menubtn-left"></a><a id="menubtn-right"></a>     
	  <h1></h1>
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->

<!-- Artist header + NEXT CONCERT -->
{{#unless concerts}}
			<figure class="ach">
			<div id="campaignlive"></div>
			<div id="burnsbox">  <!-- Add Ken Burns effect --> 
				<img data-src="{{images.standard}}" src="demobilleder/placeholders/square.png" alt="{{artist_name}}">
			</div>			
			 <div id="nextlive">
				<div>
					  <h3>Der er ingen kommende koncerter</h3>
				</div>
			</div>
			</figure>
			<!-- MUST BE IMPLEMENTET IN CONTROLLER -->			
			<script>
			$('img').unveil(600);
			$('.h').remove();
			$('.ip2').remove();
			</script>
			<!-- END OFF MUST BE IMPLEMENTET IN CONTROLLER -->		
			{{else}}
			<figure class="ach">
			<div id="campaignlive"></div>
			<div id="burnsbox"> 
			</div>
	  				<div id="nextlive">
			 			<div>
			 				  {{#each concerts}}
					{{#if @first}}
					  <time datetime="{{date}} {{trimTime time}}">{{dateFormatFull date}}</time>
					  <h2>{{venue_name}}</h2>
					  <h3>{{venue_city}}</h3>
					{{/if}}
					{{/each}}
				 		</div>
			 		</div>
			</figure>

{{/unless}}
<header class="h">
	<span class="font-entypo icon-ticket hicon" aria-hidden="true"></span>
		Alle koncerter
</header>
<div class="ip2">
		<div class="notifygrey ip tc">
			<div class="lexplain">				
				<p id="expgreen">Stadig billetter / manglende info</p>
				<p id="expyellow">Få</p>
				<p id="expred">Udsolgt</p>				
			</div>			
		</div>
</div>
<ul class="llist">

{{#each concerts}}
				<li>
						<div class="lldate">
							<h5>{{dateFormatMonth date}}</h5>
							<h6>{{dateFormatDay date}}</h6>
						</div>
						
						<article>
						  <h2>{{venue_name}}</h2>
						  <h3>{{venue_city}}</h3>
						</article>
						{{#equal delivery_status "Normal"}}
						<a href="{{deeplink}}" target="_blank"><div class="tgreen"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Few"}}
						<a href="{{deeplink}}" target="_blank"><div class="tyellow"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Sold out"}}
						<a href="{{deeplink}}" target="_blank"><div class="tred"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Waiting list"}}
						<a href="{{deeplink}}" target="_blank"><div class="tred"><h3>Køb</h3></div></a>
						{{/equal}}						
				</li>
{{/each}}
</ul>
