<div id="jquery_jplayer_1" class="jp-jplayer"></div>

<aside class="jp-audio apwrap vc1">
	<figure class="apimg jp-poster"></figure>
	<div class="jp-progress">
		<div class="jp-seek-bar">
			<div class="jp-play-bar"></div>
		</div>
	</div>
	<figcaption class="aptrack">
		<h5 class="jp-title"></h5>
	</figcaption>
	<figcaption class="apartist">
		<h5 class="jp-artist"></h5>
	</figcaption>
	<section class="vc2 jp-controls">
		<span class="font-entypo icon-fb apicon applay jp-previous" aria-hidden="true"></span>
		<span class="font-entypo icon-play apicon applay jp-play" aria-hidden="true"></span>
		<span class="font-entypo icon-ff apicon applay jp-next" aria-hidden="true"></span>
	   

		<div class="jp-volume-bar">
			<div class="jp-volume-bar-value"></div>
		</div>            
		<div class="apright">
			<span class="font-entypo icon-numbered-list apicon2 applay" id="playplaylist" aria-hidden="true"></span>
			<span class="font-entypo icon-circled-cross apicon2 applay" aria-hidden="true"></span>
		</div>
	</section>	
</aside>