{{#if this}}

<ul class="nlist">
	{{#each this}}
		<li>
			<a href="konkurrencer/{{contest_id}}"> 
				<!-- ARTIST IMAGE-->
				{{#if artist.artist_thumb}}
				<img data-src="{{artist.artist_thumb}}" src="demobilleder/placeholders/square.png" alt="{{artist.artist_name}}" />
				{{else}}
				<img data-src"/assets/images/default_thumb.gif" src="demobilleder/placeholders/square.png" />
				{{/if}}
				
				
				<!-- TITLE-->
				<span>
				<h2>{{title}}</h2>
				</span>
				<!-- DECRIPTION -->
				<!-- p>{{description}}</p -->
			</a>
		</li>	
	{{/each}}
</ul>
{{else}}
<div class="ipemptystate">
	<h6>Der er ingen konkurrencer pt.</h6>
</div>
{{/if}}
