{{#ifExpired status}}
<header class="feat"> 
<div id="burnsbox"> <!-- Add Ken Burns effect --> 
		{{#if artist.artist_cover}}
			<img data-src="{{artist.artist_standard}}" src="musikdkmobil/demobilleder/placeholders/header.png"  alt="{{artist.artist_name}}" />			
			
		{{else}}
			<img src="http://dev.denmark.umgwebservices.com/musikdk/assets/images/default_cover.gif" />
		{{/if}}
		
	<div class="archivecomp">
	<span>
		<h2>Denne konkurrence er ikke længere aktiv</h2>
	</span>
	</div>
</div>
</header>

{{else}}



<!-- Artistimage -->
<header class="feat"> 

<div id="burnsbox"> <!-- Add Ken Burns effect --> 
		{{#if artist.artist_cover}}
			<img data-src="{{artist.artist_standard}}" src="musikdkmobil/demobilleder/placeholders/header.png"  alt="{{artist.artist_name}}" />			
			
		{{else}}
			<img src="http://dev.denmark.umgwebservices.com/musikdk/assets/images/default_cover.gif" />
		{{/if}}
		

			
</div>
	
<figcaption class="metacomp">

		<h1>{{title}}</h1>	
	
		
		<ul class="countdown">
      <li>
        <span class="days"></span>
        <p class="timeRefDays"></p>
      </li>
      <li>
        <span class="hours"></span>
        <p class="timeRefHours"></p>
      </li>
      <li>
        <span class="minutes"></span>
        <p class="timeRefMinutes"></p>
      </li>
      <li>
        <span class="seconds"></span>
        <p class="timeRefSeconds"></p>
      </li>
	</ul>
	
	</figcaption>

</header> 

<!-- Competition info -->
<div class="ipp">
	<section id="compinfo">

		<h2>Om konkurrencen:</h2>
		
			<p>
				{{description}}
			</p>
	
	<br>
	
	<h2>Spørgsmål:</h2>
		
			<p>
				{{question.title}}
			</p>
	
	
		<br>
	
	<h2>Svarmuligheder:</h2><br>
	
		{{#each question.answers}}
			<button class="btncomp" data-answer-id="{{answer_id}}">{{answer}}</button>
		{{/each}}
	
	
	</section>
</div>

{{/ifExpired}}


<!--div id="donepopup" class="white-popup mfp-hide">
	<figure id="compdonepopup"></figure>
</div -->

<!-- div id="partcomppopup" class="white-popup mfp-hide">
	<section class="ppw-share ip">
		<div class="actionlogin">
			<h2>Du deltager allerede i konkurrencen!</h2>
		</div>
	</section>
</div -->
