
	<div id="sl" class="s scl"> 
		<!-- input type="search" name="search" id="search" placeholder="Søg..." / -->
		<div class="loginMenuPlaceholder"></div>
		<div class="navMenu"></div>
	</div>

<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="header hcomp">
      <a id="menubtn-left"></a>    
	  <img id="hlogo" src="//static.musik.dk/upload/mobile/logo.svgz" alt="MusikDK logo">	
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->
	
	<!-- Featured -->
<header class="feat"> 
<div id="burnsbox"> <!-- Add Ken Burns effect --> 
	<!-- CompetitionsList.js latestImage -->
</div>
    <!-- CompetitionsList.js latestContest link -->
</header>   
	
<div class="allComp"></div>


