<div id="sr" class="sm scl">
    <ul>
      <li><a href="/{{slug}}">Oversigt</a></li>
	  {{#if sections.videos}}
      <li><a href="/{{slug}}/videoer">Videoer</a></li>
	  {{/if}}
	  {{#if sections.releases}}
      <li><a href="/{{slug}}/udgivelser">Udgivelser</a></li>
	  {{/if}}
      <li><a href="/{{slug}}/koncerter">Koncerter</a></li>
	  {{#if sections.merchandise}}
      <li><a href="/{{slug}}/merchandise">Merchandise</a></li>
	  {{/if}}
	  {{#if sections.derpcon}}
	  <li id="acselected"><a href="/{{slug}}/derpcon">DerpCon</a></li>
	  {{/if}}	
    </ul>
  </div>
  <!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  
  
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>

<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="header headerwhite">
      <a id="menubtn-left"></a><a id="menubtn-right"></a>     
	  <img id="hlogo" src="//static.musik.dk/upload/mobile/logodark.svgz" alt="MusikDK logo">	
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->

<div class="ip"> 
	<section id="cm"> 
		<figure class="ti pr">
		 	<img src="https://static.musik.dk/upload/derpcon/header.jpg" alt="DigsterRunning" style="border-bottom:1px solid #ddd">
			<div class="mhlogo"></div>
		</figure>
		<div class="pr">
			<div class="ip">
				<header class="h"><span class="font-entypo icon-layout hicon" aria-hidden="true"></span>
				Hilsen fra 5SOS
				</header>
				<iframe style="border:none" src="https://www.youtube.com/embed/ue2zKJZ6w_c?autohide=1&autoplay=0&iv_load_policy=3&showinfo=0&modestbranding=1&vq=hd480"></iframe>
			</div>		
			<div class="ip">
				<header class="h"><span class="font-entypo icon-layout hicon" aria-hidden="true"></span>
					Om konkurrencen
				</header>
				
					<h1>Vind en eksklusiv tur til Los Angeles med <span class="bold">5 Seconds Of Summer og The Voice!</span></h1>
					
					<p class="infotext fr"><span class="bold">5 Seconds Of Summer</span> vil gerne takke alle deres fans for at være så loyale.<br />
					
					Derfor har bandet lanceret en verdensomspændende konkurrence, hvor én vinder og en ven fra hvert deltagende land, bliver fløjet til <span class="bold">Los Angeles</span> for en weekend i november!
					
					Her skal de bl.a. deltage i den helt enestående 5SOS fanmesse <span class="bold">DerpCon</span> med masser af aktiviteter og overraskelser og desuden et møde med bandet og koncert i legendariske <span class="bold">The Forum.</span> 
					
					Lyt til <span class="bold">The Voice</span> alle hverdage mellem kl. 7 og 17 for at finde ud af, hvordan du kan deltage i konkurrencen!</p>
					<br /><br /><br />
					<p>Læs mere om konkurrencen <a href="http://www.radioplay.dk/thevoice/article/1601/vind-dig-til-5sos-derpcon" target="_blank">her.</a></p><br />
					
					<p>Læs konkurrencebetingelserne <a href="/{{slug}}/derpcon/terms" target="_blank"> her</a></p>
				
					
		
				
			</div>
			<div class="ip">
			<header class="h"><span class="font-entypo icon-layout hicon" aria-hidden="true"></span>
					Tilmeld nyhedsbrev
				</header>
					<iframe src="https://link.umusicconnect.net/umgi/wf.jssp?name=5SOS13049" style="border:0px #000000 none;" scrolling="no" frameborder="0"  height="230px" ></iframe>
			</div>
		</div>
		{{#if instagramVideos}}
		<div>
			<header class="h"><span class="swipe fr">&nbsp;</span>
			
			#5SOSDERPCON <span style="font-size:60%;">#THEVOICEDK </span>
			</header>
			<!-- span class="hiconrightsmall">Feedet opdateres hvert 15. minut...</span -->  			
			<div id="supmain" class="sup ip">
				<div class="owl-carousel" id="derpvid">	
				
					{{#each instagramVideos}}
					<ul id="suptiles" class="derpcon">
						<li>
							<div class="sdiv">
								<!-- video controls style="width:100%">
									<source src="{{videos.low_bandwidth.url}}" type="video/mp4">
								</video -->
								<a href="{{videos.low_bandwidth.url}}" target="_blank">
										<img data-src="{{images.low_resolution.url}}" src="demobilleder/placeholders/video.png" alt="{{caption.from.full_name}}">
											<span>
											  <p>{{{caption.text}}}</p>									
									<h3>
										<time class="timeago" datetime="{{created_time}}">{{dateFromNow created_time}}</time> | Instagram
									</h3>
											</span>
								</a>
								<!-- article class="ip">
									
								</article -->
							</div>
						</li>
					</ul>
					{{/each}}
				
			</div>	
		</div>
	{{/if}}
	</section>
</div>
</div>