<!-- Nav-header - Start -->
  
  <div id="swipe" class="scl">
    <div class="header headerwhite">
      <a id="menubtn-left"></a>
	  <img id="hlogo" src="//static.musik.dk/upload/mobile/logodark.svgz" alt="MusikDK logo">	
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->

<!-- Artist header -->
<header class="feat"> 
{{#each this}}
		{{#each featured}}
<figure class="ach"> 
<!-- !-- Add Ken Burns effect --> 
<!-- div id="burnsbox" -->
	{{#if images.cover}}
			<img class="lazyload" width="60" src="{{images.standard}}" alt="{{name}}" />
			{{else}}
			<img src="/demobilleder/hlowq.jpg" />
	{{/if}}
<!-- /div -->
	
	<figcaption class="meta">

<!-- 	artistname -->
		<h2>// MusikDK anbefaler //</h2>
		<h1>{{name}}</h1>
		
<!-- 	number of followers -->
		<!-- h3>1234</h3 -->		
	</figcaption>
	<a href="./{{slug}}">
				<div class="goto"></div>
			</a>
</figure>  
	{{/each}}
{{/each}}	
</header>
<!-- RSS NEWS -->
<header class="h"><span class="font-entypo icon-newspaper hicon" aria-hidden="true"></span>Nyheder	
		<span class="swipe fr">&nbsp;</span>
</header>
	<div class="ip">
		<div class="owl-carousel" id="cnews">
		{{#each this}}
			{{#each news}}			
				<div class="ip">	
				<a href="{{link}}" target="_blank">
					<article class="acc acnews">
						<img class="lazyload" data-src="{{thumb}}" src="{{thumb}}"  alt="{{title}}">
						<h4>{{source.name}}</h4>
						<h2>{{title}}</h2>
						<br />
								<p>
									<time class="acnewstime">
										<span>{{dateFromNow pubDate}}</span>
									</time> 
								</p>	
						<span class="font-entypo icon-export cicon pa" aria-hidden="true"></span>
					</article>	
				</a>
				</div> 
			{{/each}}
		{{/each}}		
		</div>
	</div>
<div class="clear"></div>
<!-- RSS NEWS END-->
<!-- COMPETITIONS -->
<header class="h"><span class="font-entypo icon-newspaper hicon" aria-hidden="true"></span>Konkurrencer	
		<span class="swipe fr">&nbsp;</span>
</header>
	<div class="ip">
		<ul class="nlist" id="ccomp">
			{{#each this}}
				{{#if contests}}		
					{{#each contests}}
						<li>
							
							<a href="/konkurrencer/{{contest_id}}"> 
								<!-- ARTIST IMAGE-->
								{{#if artist.thumb}}
								<img class="lazyload" data-src="{{artist.thumb}}" src="demobilleder/placeholders/square.png" alt="{{artist.name}}" class="contestImageLink" />
								{{else}}
								<img src="/assets/images/default_thumb.gif" width="200" height="200" />
								{{/if}}
								<span>
								  <h2>{{title}}</h2>
								</span>					
							</a>

						</li>	
						
					{{/each}}		
					{{else}}
					<div class="ipemptystate">
						<h6>Der er ingen konkurrencer pt.</h6>
					</div>
					{{/if}}
			{{/each}}
		</ul>
			<div class="compBtnDiv" style="display:none;">
				<a href="/konkurrencer"><button class="btnnext" type="button"><span style="margin-left:15px">Gå til konkurrencer</span><span class="buttonicon" data-icon="V" aria-hidden="true"></span></button></a>
			</div>
	</div>
<!-- END OF COMPETITIONS -->
<div class="clear"></div>
<!-- VIDEOS -->
			<header class="h"><span class="font-entypo icon-video hicon" aria-hidden="true"></span>Videoer
				<span class="swipe fr">&nbsp;</span>
			</header>
			<div class="ip">
			<!-- Videos output div -->
						<div id="cvid">
							
						</div>
			<div class="ip">
				<a href="./videoer"> <button class="btnnext">Gå til videoer</button></a>
			</div>
			</div>
<!-- VIDEOS END -->	

<!-- ARTISTS GENRE -->
<header class="h"><span class="font-entypo icon-star hicon" aria-hidden="true"></span>Artister | Genre
		<select id="selectGenre" class="dd" dir="rtl" name="Nyeste">
		
		</select> 	
	
</header>	
<div class="ip">
<!-- artist genre output div -->
<div id="art3">

</div>
</div>
<!-- ARTISTS GENRE END -->

<div class="clear"></div>

<!-- ARTISTS YEAR -->

<header class="h">
<span class="font-entypo icon-star hicon" aria-hidden="true"></span>Artister | År
		<select id="selectYear" class="dd" dir="rtl" name="Nyeste">
		</select> 
</header>	
<div class="ip">
<!-- artist decade output div -->
<div id="art4">
</div>
</div>
<!-- ARTISTS YEAR END -->	

<div class="clear"></div>
	
<!-- CONCERTS -->
	<header class="h"><span class="font-entypo icon-ticket hicon" aria-hidden="true"></span>Kommende Koncerter
			<span class="swipe fr">&nbsp;</span>
	</header>
	<div class="ip2">
		<div class="notifygrey ip tc">
			<div class="lexplain">				
				<p id="expgreen">Stadig billetter / manglende info</p>
				<p id="expyellow">Få</p>
				<p id="expred">Udsolgt</p>				
			</div>			
		</div>
	</div>
	<div id="ccon">
		{{#each this}}
		{{#each concerts}}		
			<ul class="llist">
				<li>
					<div class="lldate">
						<h5>{{dateFormatMonth date}}</h5>
						<h6>{{dateFormatDay date}}</h6>
					</div>
				<article>
					<h1>{{artist.name}}</h1>
					<h2>{{venue_name}}</h2>
					<h3>{{venue_city}}</h3>
				</article>
				{{#equal delivery_status "Normal"}}
						<a href="{{deeplink}}" target="_blank"><div class="tgreen"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Few"}}
						<a href="{{deeplink}}" target="_blank"><div class="tyellow"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Sold out"}}
						<a href="{{deeplink}}" target="_blank"><div class="tred"><h3>Køb</h3></div></a>
						{{/equal}}
						{{#equal delivery_status "Waiting list"}}
						<a href="{{deeplink}}" target="_blank"><div class="tred"><h3>Køb</h3></div></a>
						{{/equal}}	
				</li>
			</ul>
		{{/each}}
	{{/each}}
	</div>
</div>

<!-- SWIPE END -->
</div>