<div class="red" style="height:600px">


<!-- 	CONTENT START			 -->
				
	<div class="tc">	
<!-- 		<span class="font-entypo icon-warning comppopupicon" aria-hidden="true"></span> -->


						<h5 id="sadface">:(</h5>

					
					
			<h2 class="whitetext">Siden kan ikke findes</h2>		
			
			
			<div class="compbtnwrap"><button class="btnblue gostart">Gå til forsiden</button></div>	

					
	</div>			

<!-- 	CONTENT END			 -->


</div>