<div id="cvid1">
<ul  class="clist">
{{#each this}}
<li>
	<a href="https://www.youtube.com/watch?v={{id}}" target="_blank" class="goplayvideoLink">
		<img data-src="{{thumbnail.hqDefault}}" src="demobilleder/placeholders/video.png" alt="VIDEO-TITLE">
						<span>
						  {{titleSplit title}}
						</span>
	</a>
</li>
{{/each}}
</ul>
</div>

   