<nav class="nav bvideo">
	<ul class="nw">
		<li class="navMenu"></li>
		<li class="userMenu floatright"></li>
	</ul>
</nav>
<div class="cw">
	<section class="cm">
		<header class="h">
			<span class="blackdot" aria-hidden="true"></span>
				Brugervilkår for Musik.dk
		</header>
		<div class="ip termsDetails"></div>
	</section>
	<footer class="adminPanel"></footer>	
</div>