<section class="crel"> 
				<img src="https://static.musik.dk/upload/polls/tinadickow_whispers_250x250.jpg" alt="Whispers">
			 
				 <h2>Whispers<span>(2014)</span></h2>
				 <div class="ip10">
					<ol>
					<li>The Woman Downstairs<span>04:23</span></li>
					<li>As Far As Love Goes<span>03:50</span></li>
					<li>Someone You Love<span>03:40</span></li>
					<li>Drifting<span>03:54</span></li>
					<li>Mines<span>04:26</span></li>
					<li>Whispers<span>03:59</span></li>
					<li>You Don't Step Into Love<span>04:12</span></li>
					<li>Old Friends<span>04:04</span></li>
					<li>I Want You<span>04:09</span></li>
					<li>Thank You<span>02:46</span></li>
					</ol>
				<!-- div class="ip">    
					<a href=""  title="Vælg service"><button style="width:50%;font-size:50%;" class="btnservice">Lyt på musiktjeneste</button></a>	
				</div -->
					<!--
							<div>
								<button class="btnblue ">Køb på CD</button>
								<button class="btnblue ">Køb vinyl</button>
							</div>
					-->
				 </div>
</section>
			
			
	<!-- div class="tl pure66list fr">
		<div class="ip9">
			<h2>Whispers</h2>
			<h4>
				<time>(2014)</time>				
			</h4>
		</div>
		<ol>
			<li>The Woman Downstairs<span>04:23</span></li>
			<li>As Far As Love Goes<span>03:50</span></li>
			<li>Someone You Love<span>03:40</span></li>
			<li>Drifting<span>03:54</span></li>
			<li>Mines<span>04:26</span></li>
			<li>Whispers<span>03:59</span></li>
			<li>You Don't Step Into Love<span>04:12</span></li>
			<li>Old Friends<span>04:04</span></li>
			<li>I Want You<span>04:09</span></li>
			<li>Thank You<span>02:46</span></li>
		</ol>						
	</div>				
	<div class="c tlalbum pure33">        
		<article>
			<img src="https://static.musik.dk/upload/polls/tinadickow_whispers_250x250.jpg" alt="Whispers">
			<div class="albumolfull">
				<span>AFSPIL</span>
				<div style="display:none;" class="album-services">
					<section class="ppw-links ip">
						<div id="ppwlinkh">
							<h2>Vælg tjeneste:</h2>
						</div>
						<div class="ipof">
							<ol class="olls">
								<li class="ls2">
									<a href="http://open.spotify.com/album/2sTKojKoarPwpParHzMEJX" target="_blank"><button class="btnspotify">&nbsp;</button></a>
								</li>
								<li class="ls2">
									<a href="http://wimp.dk/album/32823095" target="_blank"><button class="btnwimp">&nbsp;</button></a>
								</li>
								<li class="ls2">
									<a href="http://play.tdc.dk/#!/play/album/135192530" target="_blank"><button class="btntdcplay">&nbsp;</button></a>
								</li>
								<li class="ls2">
									<a href="http://www.deezer.com/album/8435874" target="_blank"><button class="btndeezer">&nbsp;</button></a>
								</li>
								<li class="ls2">
									<a href="http://musik.yousee.dk/alb/135192530" target="_blank"><button class="btnyoumusic">&nbsp;</button></a>
								</li>
							</ol>
						</div>
					</section>
				</div>								
			</div>
		</article> 
	</div>
<div class="clear" / -->		