	 
{{#if logged}}
<div id="mloggedinwrap">    
	<nav id="mlfav">
	<span class="font-entypo" style="font-size:70%;">Du er logget ind</span>
		<!-- span class="font-entypo icon-heart" aria-hidden="true"></span -->
    </nav>    
    <nav id="mluser">
      <img src="{{user.avatar}}" alt="{{user.name}}">
    </nav>
</div> 
{{else}}
	<div id="login">
		<a class="login">
			<nav class="mlogin">Log Ind / Opret</nav>
		</a>	
	</div>
{{/if}}

