
	<div id="sl" class="s scl"> 
	<!-- input type="search" name="search" id="search" placeholder="Søg..." / -->

    <div class="userMenuPlaceholder"></div>
    <div class="navMenu"></div>
	</div>
		<!-- li class="userMenu floatright"></li -->
	<div id="sr" class="sm scl">
    <ul>
      <li id="acselected"><a href="videoer">Oversigt</a></li>
      <li><a href="videoer">Videoer</a></li>
      <li><a href="videoer">Udgivelser</a></li>
      <li><a href="videoer">Koncerter</a></li>
      <li><a href="videoer">Merchandise</a></li>
    </ul>
  </div>
  
  
  
  
<!--   THIS CSS IS ONLY FOR THIS RIGHT-SIDE MENU!! -->
  <style>
  #sr {
  background: #f5f5f5;
  color: #fff;
  top:0;
  bottom: 0;
}

.sm ul li a {
  display: block;
  padding: 15px 5px 15px 15px;
  border-bottom: 1px solid #ddd;
  color:#333;
  font: 100 14px arial, sans-serif;
}


.sm ul li a:after {
  color: #333;
}

	  
  </style>
<!-- Nav-header - Start -->

  <div id="swipe" class="scl">
    <div class="header hvid">
      <a id="menubtn-left"></a><!-- a id="menubtn-right"></a -->
	        <img id="hlogo" src="//static.musik.dk/upload/mobile/logo.svgz" alt="MusikDK logo">	
    </div>
	<!-- SWIPE SCRIPT -->
   <script>
  $(document).ready(function() {
  
  function opensLeft() {
    closesRight()
    $("#sl").addClass('visible')
    $("#swipe").addClass('isOpenLeft');
  }
  
  function closesLeft() {
    $("#sl").removeClass('visible')
    $("#swipe").removeClass('isOpenLeft');
  }

  function opensRight() {
    closesLeft()
    $("#sr").addClass('visible')
    $("#swipe").addClass('isOpenRight');
  }
  
  function closesRight() {
    $("#sr").removeClass('visible')
    $("#swipe").removeClass('isOpenRight');
  }

  
  $('#menubtn-left').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenLeft')) {
      closesLeft();
    } else {
      opensLeft();
    }
    
  });

  $('#menubtn-right').on('click', function(e) {
    e.stopPropagation();
    e.preventDefault();
    
    if($('#swipe').hasClass('isOpenRight')) {
      closesRight();
    } else {
      opensRight();
    }
    
  });
  
});
</script>   
<!-- Nav-header - END -->

<!-- Featured -->
<header class="feat"> 
<div class="video-container"></div>
</header>
<header class="h">
	<span class="font-entypo icon-video hicon" aria-hidden="true"></span>
		<span class="swipe fr">&nbsp;</span>
		NYESTE
</header>
<div class="singleVideos"></div>

