/* MUSIK.DK - Last update: 12-11-2013 */


/* ///////////////////////////////
Please keep code tight and clean. 
DO NOT add code before you have checked existing code for reuseable classes!! 
///////////////////////////////*/


/* IMPORT MAIN LESS-codes*/
@import url('less.less');


/*
1 - DEMOLAND
////////////////////////////////////////////////////////////////////////////////////////////
*/

@ucgreen:#2FCC71;
@ucgreendark: #27AE61;


.ucgreen{
	background: @ucgreen
}

.ucgreendark{
	background: @ucgreendark
}



h1#ucartistname{
	position: absolute;
	top:0;
	right:0;
	padding: 15px;
	margin: 25px;
	.roundedcorners;
	color: white;
	background: @black;
	font-size: 30px;
}



.ucsubmenu{
	background: @lightblack;
	opacity: 1 !important
}

.ucsubmenu:hover{
	background: @black;
}

.ucvideo{	
	float:left;
}

.ucvideo img{
	.roundedcorners-top;
	width:100%;
	border-bottom: 4px solid @ucgreen;
	.hovertransition;
	margin-bottom: 4px;
	min-height: 108px;
	max-height: 200px;
}

span#ucdonate{
	font-size: 10px
}

.uchmenu{
	margin-bottom: 15px
}


/* ADD TO CURRENT LISTS - START */
.ucol{
	position: absolute;
	top:0;
	bottom: 0;
	left:0;
	right:0;
	background-color: rgba(44, 62, 80, .65);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(39, 174, 97, 0.9)), color-stop(100%, rgba(39, 174, 97, 0.3)));
	background: -moz-linear-gradient(left, rgba(39, 174, 97, 0.9) 0%, rgba(39, 174, 97, 0.9) 100%);
	margin-bottom: 55px;
	z-index: 101;
	opacity: 0;
	.hovertransition;
	color:@white;
	text-align: center;
	.roundedcorners
}

.ucol:hover{
	opacity: 1;
	.hovertransition;
}

.ucol span{
	position: absolute;
	top:45%;
	left:0;
	right:0;
	bottom:0;
	margin: 0 auto;
	font: bold 35px/23px arial;
}
/* ADD TO CURRENT LISTS - END */